<!-- ---------------------------------------------------------------------------
-- Templates
---------------------------------------------------------------------------- -->
{% extends "layout.html" %}



<!-- ---------------------------------------------------------------------------
-- Page title
---------------------------------------------------------------------------- -->
{% block pageTitle %}
    Applications
{% endblock %}



<!-- ---------------------------------------------------------------------------
-- Service name
---------------------------------------------------------------------------- -->
{% set serviceName %}
    Request a standard or enhanced DBS check
{% endset %}



<!-- ---------------------------------------------------------------------------
-- Block / Before content
---------------------------------------------------------------------------- -->
{% block beforeContent %}
    <!-- Phrase banner. -->
    {{ govukPhaseBanner({
        html: "This is a new service – your <a class='govuk-link' href='#' rel='noopener noreferrer' target='_blank'>feedback (opens in a new tab)</a> will help us to improve it.",
        tag: {
            text: "Alpha"
        }
    }) }}
{% endblock %}



<!-- ---------------------------------------------------------------------------
-- Block / Content
---------------------------------------------------------------------------- -->
{% block content %}
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-one-quarter">
            <!-- Heading. -->
            <h1 class="govuk-heading-l">Applications</h1>
        </div>
        <div class="govuk-grid-column-three-quarters">
            <!-- Button -->
            {{ govukButton({
                attributes: {
                    "style": "margin-right: 15px;
                              width: 23.25%"
                },
                href: "/registered-body/dbs-check-level",
                text: "New application"
            }) }}

            <!-- Button -->
            {{ govukButton({
                classes: "govuk-button--secondary",
                href: "/registered-body/id-checkers-manage",
                text: "Manage ID Checkers"
            }) }}
        </div>
    </div>
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-one-quarter">
            <!-- Heading. -->
            <h2 class="govuk-heading-m">Filter</h2>

            <!-- Legacy. ------------------------------------------------------>
            {% if needsActionFilter or appStatusFilter or orgFilter %}
                <div>
                    <h2 class="govuk-heading-m">Selected filters</h2>
                    <a href="home" class="govuk-body-s govuk-!-font-size-14">Clear filters</a>

                    {% if needsActionFilter == 'Needs action' %}
                        <h3 class="govuk-heading-s govuk-!-font-size-14">Application action needed</h3>
                        <form action="delete-filter?delete=needs-action" method="post">
                            <button class="btn btn-link" type="submit">&#10006;</button>
                            <label class="govuk-body-s govuk-!-font-size-14">{{needsActionFilter}}</label>
                        </form>
                        <br />
                    {% endif %}

                    {% if appStatusFilter.length > 0 %}
                        <h3 class="govuk-heading-s govuk-!-font-size-14">Status</h3>
                        {% for app in appStatusFilter %}
                            <form action="delete-filter?id={{app}}" method="post">
                                <button class="btn btn-link" type="submit">&#10006;</button>
                                <label class="govuk-body-s govuk-!-font-size-14">
                                    {% if app == 1 %}
                                        ID check required
                                    {% endif %}

                                    {% if app == 2 %}
                                        Ready to submit
                                    {% endif %}

                                    {% if app == 3 %}
                                        Sent to applicant
                                    {% endif %}

                                    {% if app == 4 %}
                                        Submitted to DBS
                                    {% endif %}

                                    {% if app == 5 %}
                                        Cancelled
                                    {% endif %}

                                    {% if app == 6 %}
                                        Rejected
                                    {%endif %}
                                    
                                    {% if app == 7 %}
                                        Cerificate issued
                                    {% endif %}
                                </label>
                            </form>
                            <br />
                        {% endfor %}
                    {% endif %}
                    
                    {% if orgFilter.length > 0%}
                        <h3 class="govuk-heading-s govuk-!-font-size-14">Organisation</h3>
                        {% for app in orgFilter %}
                            <form action="delete-filter?org={{app}}" method="post">
                                <button class="btn btn-link" type="submit">&#10006;</button>
                                <label class="govuk-body-s govuk-!-font-size-14">{{app}}</label>
                            </form>
                            <br />
                        {% endfor %}
                        <br />
                    {% endif %}

                    <br />
                </div>
            {% endif %}

            <form action="filter" method="post" novalidate>
                <button type="submit" class="govuk-button" data-module="govuk-button" style="width: 76.0%">Apply filters</button>
                <h3 class="govuk-heading-s govuk-!-font-size-14">Application action needed</h3>
                <div class="govuk-checkboxes" data-module="govuk-checkboxes">
                    <div class="govuk-checkboxes__item">
                        <input class="govuk-checkboxes__input" id="needs-action" name="needs-action" type="checkbox" value="needs-action" {% if needsActionFilter == 'Needs action' %} checked {% endif %} />
                        <label class="govuk-label govuk-checkboxes__label govuk-!-font-size-14" for="needs-action">Needs action</label>
                    </div>
                </div>
                <br />
                <h3 class="govuk-heading-s govuk-!-font-size-14">Status</h3>

                {% for app in data['appStatus'] %}
                    <div class="govuk-checkboxes" data-module="govuk-checkboxes">
                        <div class="govuk-checkboxes__item">
                            <input class="govuk-checkboxes__input" id="app-status-{{app.id}}" name="app-status" type="checkbox" value="{{app.id}}" {% for id in appStatusFilter %} {% if app.id == id %} checked {%endif%} {% endfor %}/>
                            <label class="govuk-label govuk-checkboxes__label govuk-!-font-size-14" for="app-status">{{app.text}}</label>
                        </div>
                    </div>
                    <br />
                {% endfor %}

                <details class="govuk-details" data-module="govuk-details">
                    <summary class="govuk-details__summary">
                        <span class="govuk-details__summary-text">More filters</span>
                    </summary>
                    <div class="govuk-details__text">
                        <h3 class="govuk-heading-s govuk-!-font-size-14">Organisation the check is for</h3>

                        {% for org in data['organisations'] %}
                            <div class="govuk-checkboxes" data-module="govuk-checkboxes">
                                <div class="govuk-checkboxes__item">
                                    <input class="govuk-checkboxes__input" id="organisation-{{org}}" name="organisation" type="checkbox" value="{{org}}" {%
                                    for organisation in orgFilter %} {% if organisation == org %} checked {%endif%} {% endfor %} />
                                    <label class="govuk-label govuk-checkboxes__label govuk-!-font-size-14" for="organisation">{{org}}</label>
                                </div>
                            </div>
                            <br />
                        {% endfor %}

                    </div>
                </details>
            </form>
        </div>
        <!-- End of legacy. --------------------------------------------------->

        <div class="govuk-grid-column-three-quarters">
            <!-- Heading. -->
            <h2 class="govuk-heading-m">Search</h2>

            <div class="govuk-grid-row"">
                <form action="search-name" method="post">
                    <div class="govuk-grid-column-three-quarters">
                        <!-- Input. -->
                        {{ govukInput({
                            id: "search-name",
                            name: "search-name",
                            value: search
                        }) }}
                    </div>
                    <div class="govuk-grid-column-one-quarter">
                        <!-- Button -->
                        {{ govukButton({
                            attributes: {
                                "style": "float: right;
                                          width: 100%"
                            },
                            text: "Search"
                        }) }}
                    </div>
                </form>

                <!-- Table rows / applications. -->
                {% set tableRows = [] %}
                {% for application in filteredApplications %}
                    <!-- Name -->
                    {% set applicationFirstName = application["firstName"] %}
                    {% set applicationMiddleName = application["middleName"] %}
                    {% set applicationSurname = application["surname"] %}
                    {% set applicationName = applicationFirstName + " " + applicationMiddleName + ' <span class="govuk-!-font-weight-bold">' + applicationSurname + "</span>" %}
                    <!-- Email address. -->
                    {% set applicationEmailAddress = application["email"] %}
                    <!-- Date application started. -->
                    {% set applicationDate = application["date"] %}
                    {% set applicationDateApplicationStarted = application["readableDate"] %}
                    <!-- Organisation. -->
                    {% set applicationOrganisation = application["organisation"] %}
                    <!-- Check level. -->
                    {% set applicationCheckLevel = application["type"] %}
                    <!-- ID Checker. -->
                    {% set currentIdChecker = selectedRB["name"] %}
                    {% set applicationIdChecker = "Unassigned" %}
                    {% if application["idChecker"] | length %}
                        {% set applicationIdChecker = application["idChecker"] %}
                    {% endif %}
                    <!-- Last worked on by. -->
                    {% set applicationLastWorkedOnBy = application["history"][0]["person"] %}
                    <!-- Status Tag. -->
                    {% set applicationStatusId = application["status"]["id"] %}
                    {% set applicationStatusText = application["status"]["text"] %}
                    {% set applicationStatusTag %}
                        {% set applicationStatusClassTagColor = "govuk-tag--blue" %}
                        {% if applicationStatusId === "1" or applicationStatusId === "2" %}
                            <!-- Status of sent to applicant or rejected. -->
                            {% set applicationStatusClassTagColor = "govuk-tag--yellow" %}
                        {% elif applicationStatusId === "5" or applicationStatusId === "6" %}
                            <!-- Status of ID check required or ready to submit. -->
                            {% set applicationStatusClassTagColor = "govuk-tag--red" %}
                        {% elif applicationStatusId === "7" %}
                            <!-- Status of application submitted. -->
                            {% set applicationStatusClassTagColor = "govuk-tag--green" %}
                        {% endif %}
                        {{ govukTag({
                            attributes: {
                                "style": "float: right; margin-right: 0px !important; text-align: center; width: 86%"
                            },
                            classes: "govuk-!-font-size-14 govuk-!-margin-bottom-4 " + applicationStatusClassTagColor,
                            text: applicationStatusText
                        }) }}
                    {% endset %}
                    <!-- View full application details. -->
                    {% set applicationViewFullApplicationDetails = '<a href="/registered-body/view-details?app=' + application["ref"] + '" rel="noopener noreferrer">View full application details</a>' %}
                    <!-- Assign ID check to me. -->
                    {% set applicationAssignIdCheckToMe %}
                        {% if applicationStatusId === "1" or applicationStatusId === "3" %}
                            <!-- Status of ID check required or sent to applicant. -->
                            {% if applicationIdChecker !== currentIdChecker  %}
                                {% set formActionAssignIdCheck = "assign-id-check?application="  + application["ref"] %}
                                <form action="{{ formActionAssignIdCheck }}" method="post">
                                    <p class="govuk-body-s govuk-!-margin-bottom-1" style="text-align: right"><a class="govuk-link" href="#" onclick="this.closest('form').submit();" rel="noopener noreferrer">Assign ID check to me</a></p>
                                </form>
                            {% endif %}
                        {% endif %}
                    {% endset %}
                    <!-- Verify ID. -->
                    {% set applicationVerifyId %}
                        {% if applicationStatusId === "1" and applicationIdChecker === currentIdChecker %}
                            <!-- Status of ID check required and CSig is the assigned ID Checker. -->
                            <p class="govuk-body-s govuk-!-margin-bottom-1" style="text-align: right"><a href="#" rel="noopener noreferrer">Verify ID</a></p>
                        {% endif %}
                    {% endset %}
                    <!-- Submit application. -->
                    {% set applicationSubmitApplication %}
                        {% if applicationStatusId === "2" %}
                            <!-- Status of ready to submit. -->
                            {% set formActionSubmitApplication = "submit-application?application="  + application["ref"] %}
                                <form action="{{ formActionSubmitApplication }}" method="post">
                                    <p class="govuk-body-s govuk-!-margin-bottom-1" style="text-align: right"><a class="govuk-link" href="#" onclick="this.closest('form').submit();" rel="noopener noreferrer">Submit application</a></p>
                                </form>
                        {% endif %}
                    {% endset %}
                    <!-- Cancel application. -->
                    {% set applicationCancelApplication = "" %}
                    {% if applicationStatusId === "1" or applicationStatusId === "2" or applicationStatusId === "3" %}
                        {% set applicationCancelApplication = '<a href="/registered-body/confirm-cancel?app=' + application["ref"] + '" rel="noopener noreferrer">Cancel application</a>' %}
                    {% endif %}
                    <!-- Application history. -->
                    {% set applicationApplicationHistory = '<a href="/registered-body/application-history?app=' + application["ref"] + '" rel="noopener noreferrer">Application history</a>' %}

                    <!-- Table cell / application. -->
                    {% set tableCell =
                        [
                            {
                                attributes: {
                                    "data-sort-value": applicationSurname,
                                    "style": "width: 34.25%"
                                },
                                html: '<p class="govuk-body-m govuk-!-margin-bottom-4">' + applicationName + '</p>
                                       <p class="govuk-body-s govuk-!-font-weight-bold govuk-!-margin-bottom-1">Email</p>
                                       <p class="govuk-body-s govuk-!-font-weight-bold govuk-!-margin-bottom-1">Date application started</p>
                                       <p class="govuk-body-s govuk-!-font-weight-bold govuk-!-margin-bottom-1">Organisation</p>
                                       <p class="govuk-body-s govuk-!-font-weight-bold govuk-!-margin-bottom-1">Check level</p>
                                       <p class="govuk-body-s govuk-!-font-weight-bold govuk-!-margin-bottom-1">ID Checker</p>
                                       <p class="govuk-body-s govuk-!-font-weight-bold govuk-!-margin-bottom-1">Last worked on by</p>'
                            },
                            {
                                attributes: {
                                    "data-sort-value": applicationDate
                                },
                                html: '<p class="govuk-body-m govuk-!-margin-bottom-4">' + applicationViewFullApplicationDetails + '</p>
                                       <p class="govuk-body-s govuk-!-margin-bottom-1">' + applicationEmailAddress + '</p>
                                       <p class="govuk-body-s govuk-!-margin-bottom-1">' + applicationDateApplicationStarted + '</p>
                                       <p class="govuk-body-s govuk-!-margin-bottom-1">' + applicationOrganisation + '</p>
                                       <p class="govuk-body-s govuk-!-margin-bottom-1">' + applicationCheckLevel + '</p>
                                       <p class="govuk-body-s govuk-!-margin-bottom-1">' + applicationIdChecker + '</p>
                                       <p class="govuk-body-s govuk-!-margin-bottom-1">' + applicationLastWorkedOnBy + '</p>'
                            },
                            {
                                attributes: {
                                    "data-sort-value": applicationStatusId
                                },
                                html: applicationStatusTag +
                                      applicationAssignIdCheckToMe +
                                      applicationVerifyId +
                                      applicationSubmitApplication +
                                      '<p class="govuk-body-s govuk-!-margin-bottom-1" style="text-align: right">' + applicationCancelApplication + '</p>
                                       <p class="govuk-body-s govuk-!-margin-bottom-1" style="text-align: right">' + applicationApplicationHistory + '</p>'
                            }
                        ]
                    %}
                    {% set tableRows = (tableRows.push(tableCell), tableRows) %}
                {% endfor %}

                <!-- Table. -->
                {{ govukTable({
                    attributes: {
                        "data-module": "moj-sortable-table",
                        "style": "margin-left: 15px; width: calc(100% - 30px)"

                    },
                    firstCellIsHeader: false,
                    head: [
                        {
                            attributes: {
                                "aria-sort": "none",
                                "scope": "col"
                            },
                            text: "Last name"
                        },
                        {
                            attributes: {
                                "aria-sort": "descending"
                            },
                            text: "Date started"
                        },
                        {
                            attributes: {
                                "aria-sort": "none"
                            },
                            classes: "govuk-table__header--numeric",
                            text: "Action needed"
                        }
                    ],
                    rows: tableRows
                }) }}
            </div>
        </div>
    </div>
{% endblock %}