{% extends "layout.html" %} {% block pageTitle %} Question page {% endblock %} {% set serviceName %} Request a standard or enhanced DBS check
{%endset%} {% block beforeContent %}
<div class="govuk-phase-banner">
    <p class="govuk-phase-banner__content">
        <strong class="govuk-tag govuk-phase-banner__content__tag"> alpha </strong>
        <span class="govuk-phase-banner__text">
            This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.
        </span>
    </p>
</div>
<a class="govuk-back-link" href="javascript:window.history.back()">Back</a>
{% endblock %} {% block content %}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <form class="form" action="login" method="post">
            <div class="govuk-form-group">
                <fieldset class="govuk-fieldset">
                    <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
                        <h1 class="govuk-fieldset__heading">Which login system would you like to demo?</h1>
                    </legend>
                    <div class="govuk-radios" data-module="govuk-radios">
                        <div class="govuk-radios__item">
                            <input class="govuk-radios__input" id="kba-login" name="login-method" type="radio" value="kba-login" />
                            <label class="govuk-label govuk-radios__label" for="kba-login"> Key based access </label>
                            <div id="sign-in-item-hint" class="govuk-hint govuk-radios__hint">
                              We will ask for your Registered Body number, countersignatory number and date of birth
                            </div>
                        </div>
                        <div class="govuk-radios__item">
                            <input class="govuk-radios__input" id="sign-in-item-email-google" name="login-method" type="radio" value="email-google-login" />
                            <label class="govuk-label govuk-radios__label" for="sign-in-item-email-google"> Email and Google Authenticator </label>
                            <div id="sign-in-item-hint-email-google" class="govuk-hint govuk-radios__hint">
                                We will ask for your email and a code from the Google authenticator app
                            </div>
                        </div>
                        <div class="govuk-radios__item">
                            <input class="govuk-radios__input" id="sign-in-item-email-2FA" name="login-method" type="radio" value="email-2fa-login" />
                            <label class="govuk-label govuk-radios__label" for="sign-in-item-email-2FA"> Email or mobile one-time passcode </label>
                            <div id="sign-in-item-hint-email-2FA" class="govuk-hint govuk-radios__hint">
                                We will ask for your mobile number or email and send you a one-time passcode
                            </div>
                        </div>
                        <div class="govuk-radios__item">
                            <input class="govuk-radios__input" id="sign-in-item-email-password" name="login-method" type="radio" value="email-password-login" />
                            <label class="govuk-label govuk-radios__label" for="sign-in-item-email-password"> Email and password </label>
                            <div id="sign-in-item-hint-email-password" class="govuk-hint govuk-radios__hint">
                              We will ask for your email and password
                            </div>
                        </div>
                    </div>
                </fieldset>
            </div>

            <button class="govuk-button" data-module="govuk-button">Continue</button>
        </form>
    </div>
</div>

{% endblock %}
