{% import "../macros/error-summary/govukErrorSummary.njk" as  es %}
{% extends "layout.html" %}
{% block pageTitle %} Question page {% endblock %}
{% set serviceName %} Request a standard or enhanced DBS check {%endset%}

{% block beforeContent %}
  <div class="govuk-phase-banner">
      <p class="govuk-phase-banner__content">
          <strong class="govuk-tag govuk-phase-banner__content__tag"> alpha </strong>
          <span class="govuk-phase-banner__text">
              This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.
          </span>
      </p>
  </div>
  <a class="govuk-back-link" href="/dashboard/email-otp">Back</a>
{% endblock %}
{% block content %}
  <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        {% if validation | length %}

          {% set errorList = [] %}

            {% for key, value in validation %}
                {% set errorList = (errorList.push({
                    "text": value,
                    "href": "#" + key
                }), errorList) %}
            {% endfor %}

          {{ es.govukErrorSummary({ "titleText": "There is a problem", "errorList": errorList }) }}

        {% endif %}
          <form class="form" action="" method="post">
              <div class="govuk-form-group">
                <fieldset class="govuk-fieldset">
                    <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
                        <h1 class="govuk-fieldset__heading">Create a password</h1>
                    </legend>
                      <div id="sign-in-item-hint" class="govuk-hint govuk-hint"> Your password must have at least 8 characters</div>
                      <div class="govuk-form-group  {% if validation['password-first'] %}govuk-form-group--error{% endif %}">
                          <label class="govuk-label" for="password"> Password </label>
                            {% if validation['password-first'] %}
                                <span id="ninonr-error" class="govuk-error-message">
                                    <span class="govuk-visually-hidden">Error:</span> {{ validation['password-first'] }}
                                </span>
                            {% endif %}
                          <input class="govuk-input govuk-input--width-10" id="password" name="password-first" value="{{cache['password-first']}}" type="password" />
                      </div>
                     <div class="govuk-form-group  {% if validation['password-match'] %}govuk-form-group--error{% endif %}">
                        <label class="govuk-label" for="password"> Confirm password </label>
                            {% if validation['password-match'] %}
                                <span id="ninonr-error" class="govuk-error-message">
                                    <span class="govuk-visually-hidden">Error:</span> {{ validation['password-match'] }}
                                </span>
                            {% endif %}
                        <input class="govuk-input govuk-input--width-10" id="password-match" name="password-match" value="{{cache['password-match']}}" type="password" />
                    </div>
                 </fieldset>
              </div>
                <button style="margin-top: 20px;" class="govuk-button" type='submit' data-module="govuk-button">Continue</button>
          </form>
      </div>
  </div>
{% endblock %}
