{% import "../country-select.njk" as country_select %}

{{ country_select.full(
  countries=countries,
  value='Tajikistan',
  cms={
    labels: {
      selectCountry: 'selectCountryLabel'
    }
  },
  lang='cy'
) }}
