{% import "../country-select.njk" as country_select %}

{{ country_select.full(
  countries=countries,
  value='Tajikistan',
  omitUK = true,
  cms={
    labels: {
      selectCountry: 'selectCountryLabel'
    }
  }
) }}
