{% extends "layout.html" %}

{% block pageTitle %}
  Check your answers
{% endblock %}

{% set serviceName %}
  Request a standard or enhanced DBS check
{% endset%}

{% block beforeContent %}
  <a class="govuk-back-link" href="javascript:window.history.back()">Back</a>
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds-from-desktop">

      <span class="govuk-caption-l">Create your DBS account</span>
      <h1 class="govuk-heading-l">Check your answers</h1>

      <h2 class="govuk-heading-m">Company details</h2>

      <dl class="govuk-summary-list govuk-!-margin-bottom-9">
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Company name
          </dt>
          <dd class="govuk-summary-list__value">
            {{ data['company-name'] }}
          </dd>
          <dd class="govuk-summary-list__actions">
            <a href="company-name">
              Change
              <span class="govuk-visually-hidden"> name</span>
            </a>
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Company address
          </dt>
          <dd class="govuk-summary-list__value">
            {{ data['address-line-1'] }}<br>
            {{ data['address-line-2'] }}<br>
            {{ data['address-town'] }}<br>
            {{ data['address-county'] }}<br>
            {{ data['address-postcode'] }}
          </dd>
          <dd class="govuk-summary-list__actions">
            <a href="company-address">
              Change
              <span class="govuk-visually-hidden"> contact information</span>
            </a>
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Contact name
          </dt>
          <dd class="govuk-summary-list__value">
            {{ data['dbs-admin'] }}
          </dd>
          <dd class="govuk-summary-list__actions">
            <a href="dbs-admin">
              Change
              <span class="govuk-visually-hidden"> contact name</span>
            </a>
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Contact email
          </dt>
          <dd class="govuk-summary-list__value">
            {{ data['email-address'] }}
          </dd>
          <dd class="govuk-summary-list__actions">
            <a href="email-address">
              Change
              <span class="govuk-visually-hidden"> contact details</span>
            </a>
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Payment on account
          </dt>
          <dd class="govuk-summary-list__value">
            {{ data['payment-on-account'] }}
          </dd>
          <dd class="govuk-summary-list__actions">
            <a href="payment-on-account">
              Change
              <span class="govuk-visually-hidden"> contact details</span>
            </a>
          </dd>
        </div>
      </dl>



      <h2 class="govuk-heading-m">Now send your application</h2>

      <p>By submitting this application you are confirming that, to the best of your knowledge, the details you are providing are correct.</p>

      <form action="credit-check" method="post" novalidate>

        <input type="hidden" name="answers-checked" value="true">

        <button type="submit" class="govuk-button" data-module="govuk-button">
          Accept and send
        </button>

      </form>

    </div>
  </div>
{% endblock %}
