{% extends "layout.html" %}

{% block pageTitle %}
  Confirmation page example
{% endblock %}

{% set serviceName %}
  Request a standard or enhanced DBS check
{% endset%}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <div class="govuk-panel govuk-panel--confirmation">
        <h1 class="govuk-panel__title">DBS account created</h1>
        <div class="govuk-panel__body">
          Your account number<br><strong>HDJ2123F</strong>
        </div>
      </div>

      <p>
        We have sent you a confirmation email.
      </p>

      <h2 class="govuk-heading-m">What do you want to do next?</h2>

      <p class="govuk-body">You can:</p>
      <ul class="govuk-list govuk-list--bullet">
        <li>request a standard or enhanced DBS check</li>
        <li>view your account details</li>
      </ul>

      <a href="../dbs-account/signin" role="button" draggable="false" class="govuk-button govuk-button--start govuk-!-margin-top-2 govuk-!-margin-bottom-8"  data-module="govuk-button">
          Sign in to your DBS account
          <svg class="govuk-button__start-icon" xmlns="http://www.w3.org/2000/svg" width="17.5" height="19" viewBox="0 0 33 40" aria-hidden="true" focusable="false">
            <path fill="currentColor" d="M0 0h13l20 20-20 20H0l20-20z"></path>
          </svg>
        </a>

    </div>
  </div>

{% endblock %}
