// global styles for <a> and <p> tags
$govuk-global-styles: true;
$govuk-new-link-styles: true;

// We can't mount GOV.UK Frontend's assets at root as it's done automatically by the extensions framework.
$govuk-assets-path: '/govuk/assets/';

// Import GOV.UK Frontend and any extension styles if extensions have been configured
@import 'lib/extensions/extensions';

// Patterns that aren't in Frontend
@import 'patterns/step-by-step-header';
@import 'patterns/step-by-step-nav';
@import 'patterns/step-by-step-related';
@import 'patterns/task-list';
@import 'patterns/related-items';
@import 'landing-page';

// Add extra styles here, or re-organise the Sass files in whichever way makes most sense to you

.Kieran-input {
    border: #0b0c0c 2px solid;
    line-height: 1.31579;
    font-size: 1.1875rem;
    font-family: 'GDS Transport', arial, sans-serif;
    //padding: 5px;
    cursor: pointer;
    &:focus {
        outline: 3px solid #ffdd00;
        outline-offset: 0;
        box-shadow: inset 0 0 0 2px;
    }
}

.country-input-group {
    position: relative;
    .country-dropdown {
        position: absolute;
        width: 100%;
        background-color: white;
        z-index: 20;
        border: 1px solid #b0beca;
        max-height: 250px;
        overflow-y: scroll;
        h4 {
            border-top: 1px solid #b0beca;
            padding: 4px 10px;
            margin: 0;
            font-weight: normal;
            font-size: 1.2em;
            cursor: pointer;
            user-select: none;
            font-family: 'GDS Transport', arial, sans-serif;
        }

        :first-child {
            border-top: none;
        }
    }
}

.new-app {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    button {
        margin-bottom: 0;
    }
}

.KL-notify {
    > div {
        display: flex;
        flex-direction: row;
        > a {
            padding: 0 3px 0 0;
        }
        > div {
            height: 14px;
            width: 14px;
            border-radius: 7px;
            margin-top: -5px;
            right: 0;
            font-weight: 700;
            background-color: red;
            font-size: 0.6rem;
            text-decoration: none;
            text-align: center;
            line-height: 1.5;

        }
    }
}

/* Removes overlapping triangle from the details disclosure element for
 * Internet Explorer 11 compatibility. */
.no-details details > summary::before {
    content: "" !important;
}

// Ensurres center alignment of warning icon for the warning text component.
.govuk-warning-text__icon {
    top: 33.3%;
}