{% extends "layout.html" %}

{% block pageTitle %}
  Question page
{% endblock %}

{% set serviceName %}
  Request a standard or enhanced DBS check
{% endset%}

{% block beforeContent %}
  <a class="govuk-back-link" href="javascript:window.history.back()">Back</a>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <span class="govuk-caption-l">Request a standard DBS check</span>
      <h1 class="govuk-heading-l">What is the employee's email address?</h1>

      <form class="form" action="check-answers" method="post">

        <div class="govuk-form-group">

          <label class="govuk-label" for="email">
            Email address
          </label>
          <div id="email-hint" class="govuk-hint">
            We’ll only use this to send them the DBS check request
          </div>
          <input class="govuk-input" id="email" name="email" type="email" spellcheck="false" aria-describedby="email-hint" autocomplete="email">
        </div>

        <button class="govuk-button" data-module="govuk-button">Continue</button>

      </form>

    </div>
  </div>

{% endblock %}
