{% extends "layout.html" %} {% block pageTitle %} Question page {% endblock %} {% set serviceName %} Request a standard or enhanced DBS check {%
endset%} {% block beforeContent %}
<div class="govuk-phase-banner">
    <p class="govuk-phase-banner__content">
        <strong class="govuk-tag govuk-phase-banner__content__tag"> alpha </strong>
        <span class="govuk-phase-banner__text">
            This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.
        </span>
    </p>
</div>
<a class="govuk-back-link" href="javascript:window.history.back()">Back</a>
{% endblock %} {% block content %}

<div class="govuk-grid-row other-names">
    <div class="govuk-grid-column-two-thirds">
        <form class="form" action="{{'verify-name?change=true' if query['change'] == 'true' else 'verify-name'}}" method="post">
            <div class="govuk-form-group">
                <fieldset class="govuk-fieldset" aria-describedby="changed-name-hint">
                    <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
                        <h1 class="govuk-fieldset__heading">What was your name?</h1>
                    </legend>
                    <div class="govuk-form-group">
                        <label class="govuk-label" for="full-name-first-name"> First name </label>
                        <input
                            class="govuk-input govuk-input--width-20"
                            id="full-name-first-name"
                            name="other-full-name"
                            type="text"
                            spellcheck="false"
                            autocomplete="given-name"
                        />
                    </div>
                    <div class="govuk-form-group">
                        <label class="govuk-label" for="full-name-middle-names"> Middle names </label>
                        <input
                            class="govuk-input govuk-input--width-20"
                            id="full-name-middle-names"
                            name="other-full-name"
                            type="text"
                            spellcheck="false"
                            autocomplete="name"
                        />
                    </div>
                    <div class="govuk-form-group">
                        <label class="govuk-label" for="full-name-last-name"> Last name </label>
                        <input
                            class="govuk-input govuk-input--width-20"
                            id="full-name-last-name"
                            name="other-full-name"
                            type="text"
                            spellcheck="false"
                            autocomplete="family-name"
                        />
                    </div>
                    <div class="govuk-inset-text">Complete all fields even if they have not changed</div>
                </fieldset>
                <fieldset class="govuk-fieldset" aria-describedby="changed-name-hint">
                    <legend class="govuk-fieldset__legend govuk-fieldset__legend--s">
                        <h1 class="govuk-fieldset__heading">When did you start using this name?</h1>
                    </legend>
                    <div id="changed-name-hint" class="govuk-hint">For example, 10 2007</div>
                    <div class="govuk-date-input" id="passport-issued">
                        <div class="govuk-date-input__item">
                            <div class="govuk-form-group">
                                <label class="govuk-label govuk-date-input__label" for="name-use-month"> Month </label>
                                <input
                                    class="govuk-input govuk-date-input__input govuk-input--width-2"
                                    id="name-use-month"
                                    name="name-use-start"
                                    type="text"
                                    pattern="[0-9]*"
                                    inputmode="numeric"
                                />
                            </div>
                        </div>
                        <div class="govuk-date-input__item">
                            <div class="govuk-form-group">
                                <label class="govuk-label govuk-date-input__label" for="name-use-year"> Year </label>
                                <input
                                    class="govuk-input govuk-date-input__input govuk-input--width-4"
                                    id="name-use-year"
                                    name="name-use-start"
                                    type="text"
                                    pattern="[0-9]*"
                                    inputmode="numeric"
                                />
                            </div>
                        </div>
                    </div>
                </fieldset>
            </div>
            <button class="govuk-button" data-module="govuk-button">Continue</button>
        </form>
    </div>
</div>
{% endblock %}
