{% from "country.njk" import country %} {% extends "layout.html" %} {% block pageTitle %} Question page {% endblock %} {% set serviceName %} Request a
standard or enhanced DBS check {% endset%} {% block beforeContent %}
<div class="govuk-phase-banner">
    <p class="govuk-phase-banner__content">
        <strong class="govuk-tag govuk-phase-banner__content__tag"> alpha </strong>
        <span class="govuk-phase-banner__text">
            This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.
        </span>
    </p>
</div>
<a class="govuk-back-link" href="javascript:window.history.back()">Back</a>
{% endblock %} {% block content %}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <form class="form" action="{{'add-address?certificate=true' if query['certificate'] == 'true' else 'add-address'}}" method="post">
            <fieldset class="govuk-fieldset">
                <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
                    <h1 class="govuk-fieldset__heading">{{'What address do you want your certificate sent to?' if query['certificate'] == 'true' else 'What is your current address?'}}</h1>
                </legend>
                <div class="govuk-form-group">
                    <label class="govuk-label" for="postcode-lookup"> Number and street </label>
                    <input
                        class="govuk-input govuk-input--width-20"
                        id="postcode-lookup"
                        name="address"
                        type="text"
                        autocomplete="postal-code"
                        value='{{data["lookup-addr"]}}'
                    />
                    <label class="govuk-label" for="postcode-lookup-2"></label>
                    <input
                        class="govuk-input govuk-input--width-20"
                        id="postcode-lookup-2"
                        name="address"
                        type="text"
                        autocomplete="town-or-city"
                        value='{{data["hidden-details-town"]}}'
                    />
                </div>

                <div class="govuk-form-group">
                    <label class="govuk-label" for="town-or-city"> Town or City </label>
                    <input
                        class="govuk-input govuk-input--width-20"
                        id="town-or-city"
                        name="address"
                        type="text"
                        autocomplete="town-or-city"
                        value='{{data["hidden-details-city"]}}'
                    />
                    <label class="govuk-label" for="postcode-lookup-2"></label>
                </div>

                <div class="govuk-form-group">
                    <label class="govuk-label" for="postcode"> Postcode </label>
                    <input
                        class="govuk-input govuk-input--width-10"
                        id="postcode"
                        name="address"
                        type="text"
                        autocomplete="postal-code"
                        value='{{data["postcode-lookup"]}}'
                    />
                    <label class="govuk-label" for="postcode-lookup-2"></label>
                </div>

                {% if query['lookup'] == 'true' %} {{ 
                    country({ label: 'Country', inputClass: 'govuk-input--width-20', name: 'address', value: 'United Kingdom' }) }}
                {% else %} {{ country({ label: 'Country', inputClass: 'govuk-input--width-20', name: 'address' }) }}
                {% endif %}
                {% if query['certificate'] !== 'true' %}
                    <div class="govuk-form-group">
                        <label class="govuk-label" for="year"> <strong>What year did you start living here?</strong> </label>
                        <div id="passport-hint" class="govuk-hint">For example, 1980</div>
                        <input
                            class="govuk-input govuk-input--width-5"
                            id="year"
                            name="address"
                            type="number"
                            maxlength="4"
                            autocomplete="postal-code"
                            value='{{data["start-date"]}}'
                        />
                     
                        <label class="govuk-label" for="year"> <strong>What year did you stop living here?</strong> </label>
                        <input
                            class="govuk-input govuk-input--width-5"
                            id="year"
                            name="address"
                            type="number"
                            maxlength="4"
                            autocomplete="postal-code"
                            value='{{data["end-date"]}}'
                        />
                    </div>
                {% endif %}
                <button class="govuk-button" data-module="govuk-button">Continue</button>
            </fieldset>
        </form>
    </div>
</div>

{% endblock %}
