{% extends "layout.html" %} {% import "../macros/error-summary/govukErrorSummary.njk" as es %} {% block pageTitle %} Question page {% endblock %} {%
set serviceName %} Request a standard or enhanced DBS check {% endset%} {% block beforeContent %}
<div class="govuk-phase-banner">
    <p class="govuk-phase-banner__content">
        <strong class="govuk-tag govuk-phase-banner__content__tag"> alpha </strong>
        <span class="govuk-phase-banner__text">
            This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.
        </span>
    </p>
</div>
<a class="govuk-back-link" href="/citizen-application/start-application">Back</a>
{% endblock %} {% block content %}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        {% if validation|length %} {% set errorList = [] %} {% for key, value in validation %} {% set errorList = (errorList.push({"text": value,
        "href": "#" + key}), errorList) %} {% endfor %} {{ es.govukErrorSummary({ "titleText": "There is a problem", "errorList": errorList }) }} {%
        endif %}
        <form class="form full-name-form" action="" method="post">
            <fieldset class="govuk-fieldset">
                <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
                    <h1 class="govuk-fieldset__heading">What is your current full name?</h1>
                </legend>
                <div id="full-name-hint" class="govuk-hint">You must tell us your full name, including any middle names.</div>
                <div class="govuk-form-group {% if validation['current-name-first-name'] %}govuk-form-group--error{% endif %}">
                    <label class="govuk-label" for="current-name-first-name"> First name </label>
                    {% if validation['current-name-first-name'] %}
                    <span id="ninonr-error" class="govuk-error-message">
                        <span class="govuk-visually-hidden">Error:</span> {{ validation['current-name-first-name'] }}
                    </span>
                    {% endif %}
                    <input
                        class="govuk-input govuk-input--width-20"
                        id="current-name-first-name"
                        name="current-name-first-name"
                        type="text"
                        spellcheck="false"
                        autocomplete="given-name"
                        value='{{data["current-name-first-name"]}}'
                    />
                </div>
                <div class="govuk-form-group {% if validation['current-name-middle-names'] %}govuk-form-group--error{% endif %}">
                    <label class="govuk-label" for="current-name-middle-names"> Middle names </label>
                    {% if validation['current-name-middle-names'] %}
                    <span id="ninonr-error" class="govuk-error-message">
                        <span class="govuk-visually-hidden">Error:</span> {{ validation['current-name-middle-names'] }}
                    </span>
                    {% endif %}
                    <input
                        class="govuk-input govuk-input--width-20"
                        id="current-name-middle-names"
                        name="current-name-middle-names"
                        type="text"
                        spellcheck="false"
                        autocomplete="name"
                        value='{{data["current-name-middle-names"]}}'
                    />
                </div>
                <div class="govuk-form-group {% if validation['current-name-last-name'] %}govuk-form-group--error{% endif %}">
                    <label class="govuk-label" for="current-name-last-name"> Last name </label>
                    {% if validation['current-name-last-name'] %}
                    <span id="ninonr-error" class="govuk-error-message">
                        <span class="govuk-visually-hidden">Error:</span> {{ validation['current-name-last-name'] }}
                    </span>
                    {% endif %}
                    <input
                        class="govuk-input govuk-input--width-20"
                        id="current-name-last-name"
                        name="current-name-last-name"
                        type="text"
                        spellcheck="false"
                        autocomplete="family-name"
                        value='{{data["current-name-last-name"]}}'
                    />
                </div>
            </fieldset>
            <input value="Current" type="hidden" name="name-use-start" />
            {% if query['change'] === 'true' %}
            <button class="govuk-button" data-module="govuk-button">Check Answers</button>
            {% else %}
            <button class="govuk-button" data-module="govuk-button">Continue</button>
            {% endif %}
        </form>
    </div>
</div>

{% endblock %}
