<!-- ---------------------------------------------------------------------------
-- Templates
---------------------------------------------------------------------------- -->
{% extends "layout.html" %}



<!-- ---------------------------------------------------------------------------
-- Page title
---------------------------------------------------------------------------- -->
{% block pageTitle %}
    What is your current full name?
{% endblock %}



<!-- ---------------------------------------------------------------------------
-- Service name
---------------------------------------------------------------------------- -->
{% set serviceName %}
    Complete a requested standard or enhanced DBS check
{% endset %}



<!-- ---------------------------------------------------------------------------
-- Block / Before content
---------------------------------------------------------------------------- -->
{% block beforeContent %}
    <!-- Phrase banner. -->
    {{ govukPhaseBanner({
        html: "This is a new service – your <a class='govuk-link' href='#' rel='noopener noreferrer' target='_blank'>feedback (opens in a new tab)</a> will help us to improve it.",
        tag: {
            text: "Alpha"
        }
    }) }}

    <!-- Back link. -->
    {{ govukBackLink({
        href: "javascript:window.history.back()",
        text: "Back"
    }) }}
{% endblock %}



<!-- ---------------------------------------------------------------------------
-- Block / Content
---------------------------------------------------------------------------- -->
{% block content %}
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <!-- Errors / Summary. -->
            {% if validation | length %}
                {% set errorList = [] %}
                {% for key, value in validation %}
                    {% set errorList = (errorList.push({
                        "href": "#" + key,
                        "text": value
                    }), errorList) %}
                {% endfor %}
                {{ govukErrorSummary({
                    errorList: errorList,
                    titleText: "There's a problem with the information you have provided"
                }) }}
            {% endif %}
            
            <!-- Errors / Components. -->
            {% set errorComponentCurrentNameFirstName = "" %}
            {% set errorComponentCurrentNameMiddleNames = "" %}
            {% set errorComponentCurrentNameLastName = "" %}
            {% if validation | length %}
                <!-- Current name first name. -->
                {% if validation["current-name-first-name"] %}
                    {% set errorComponentCurrentNameFirstName = {
                        text: validation["current-name-first-name"]
                    } %}
                {% endif %}
                <!-- Current name middle names. -->
                {% if validation["current-name-middle-names"] %}
                    {% set errorComponentCurrentNameMiddleNames = {
                        text: validation["current-name-middle-names"]
                    } %}
                {% endif %}
                <!-- Current name last name. -->
                {% if validation["current-name-last-name"] %}
                    {% set errorComponentCurrentNameLastName = {
                        text: validation["current-name-last-name"]
                    } %}
                {% endif %}
            {% endif %}
            
            <!-- Heading. -->
            {% call govukFieldset({
                legend: {
                    classes: "govuk-fieldset__legend--l govuk-!-margin-bottom-6",
                    isPageHeading: true,
                    text: "What is your current full name?"
                }
            }) %}

                <!-- Hint. -->
                <p class="govuk-hint">You must tell us your full name, including any middle names.</p>

                <form method="post">
                    <!-- Text input. -->
                    {{ govukInput({
                        autocomplete: "given-name",
                        classes: "govuk-input govuk-!-width-two-thirds",
                        errorMessage: errorComponentCurrentNameFirstName,
                        id: "current-name-first-name",
                        label: {
                            text: "First name"
                        },
                        name: "current-name-first-name",
                        spellcheck: false,
                        value: data["current-name-first-name"]
                    }) }}
                    
                    <!-- Text input. -->
                    {{ govukInput({
                        autocomplete: "additional-name",
                        classes: "govuk-input govuk-!-width-two-thirds",
                        errorMessage: errorComponentCurrentNameMiddleNames,
                        id: "current-name-middle-names",
                        label: {
                            text: "Middle names"
                        },
                        name: "current-name-middle-names",
                        spellcheck: false,
                        value: data["current-name-middle-names"]
                    }) }}

                    <!-- Text input. -->
                    {{ govukInput({
                        autocomplete: "family-name",
                        classes: "govuk-input govuk-!-width-two-thirds",
                        errorMessage: errorComponentCurrentNameLastName,
                        id: "current-name-last-name",
                        label: {
                            text: "Last name"
                        },
                        name: "current-name-last-name",
                        spellcheck: false,
                        value: data["current-name-last-name"]
                    }) }}

                    <!-- Button. -->
                    {% set buttonText = "Continue" %}
                    {% if query["change"] === "true" %}
                        {% set buttonText = "Check answers" %}
                    {% endif %}
                    {{ govukButton({
                        text: buttonText
                    }) }}
                </form>
            {% endcall %}
        </div>
    </div>
{% endblock %}