<!-- ---------------------------------------------------------------------------
-- Templates
---------------------------------------------------------------------------- -->
{% extends "layout.html" %}



<!-- ---------------------------------------------------------------------------
-- Page title
---------------------------------------------------------------------------- -->
{% block pageTitle %}
    What is your date of birth?
{% endblock %}



<!-- ---------------------------------------------------------------------------
-- Service name
---------------------------------------------------------------------------- -->
{% set serviceName %}
    Complete a requested standard or enhanced DBS check
{% endset %}



<!-- ---------------------------------------------------------------------------
-- Block / Before content
---------------------------------------------------------------------------- -->
{% block beforeContent %}
    <!-- Phrase banner. -->
    {{ govukPhaseBanner({
        html: "This is a new service – your <a class='govuk-link' href='#' rel='noopener noreferrer' target='_blank'>feedback (opens in a new tab)</a> will help us to improve it.",
        tag: {
            text: "Alpha"
        }
    }) }}

    <!-- Back link. -->
    {{ govukBackLink({
        href: "javascript:window.history.back()",
        text: "Back"
    }) }}
{% endblock %}



<!-- ---------------------------------------------------------------------------
-- Block / Content
---------------------------------------------------------------------------- -->
{% block content %}
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <!-- Errors / Summary. -->
            {% if validation | length %}
                {% set errorList = [] %}
                {% for key, value in validation %}
                    {% set errorList = (errorList.push({
                        "href": "#" + key,
                        "text": value
                    }), errorList) %}
                {% endfor %}
                {{ govukErrorSummary({
                    errorList: errorList,
                    titleText: "There's a problem with the information you have provided"
                }) }}
            {% endif %}
            
            <!-- Errors / Components. -->
            {% set errorComponentCaDobDay = "" %}
            {% if validation | length %}
                <!-- CA DoB day. -->
                {% if validation["ca-dob-day"] %}
                    {% set errorComponentCaDobDay = {
                        text: validation["ca-dob-day"]
                    } %}
                {% endif %}
            {% endif %}
            
            <!-- Heading. -->
            {% call govukFieldset({
                legend: {
                    classes: "govuk-fieldset__legend--l govuk-!-margin-bottom-6",
                    isPageHeading: true,
                    text: "What is your date of birth?"
                }
            }) %}

                <form method="post">
                    <!-- Date input. -->
                    {{ govukDateInput({
                        hint: {
                            text: "For example, 31 3 1980"
                        },
                        id: "ca-dob",
                        items: [
                            {
                                autocomplete: "bday-day",
                                classes: "govuk-input--width-2",
                                inputmode: "numeric",
                                name: "day",
                                value: data["ca-dob-day"]
                            },
                            {
                                autocomplete: "bday-month",
                                classes: "govuk-input--width-2",
                                inputmode: "numeric",
                                name: "month",
                                value: data["ca-dob-month"]
                            },
                            {
                                autocomplete: "bday-year",
                                classes: "govuk-input--width-4",
                                inputmode: "numeric",
                                name: "year",
                                value: data["ca-dob-year"]
                            }
                        ],
                        namePrefix: "ca-dob"
                      }) }}

                    <!-- Button. -->
                    {% set buttonText = "Continue" %}
                    {% if query["change"] === "true" %}
                        {% set buttonText = "Check answers" %}
                    {% endif %}
                    {{ govukButton({
                        text: buttonText
                    }) }}
                </form>
            {% endcall %}
        </div>
    </div>
{% endblock %}