{% extends "layout.html" %} {% block pageTitle %} Question page {% endblock %} {% set serviceName %} Request a standard or enhanced DBS check {%
endset%} {% block beforeContent %}
<div class="govuk-phase-banner">
    <p class="govuk-phase-banner__content">
        <strong class="govuk-tag govuk-phase-banner__content__tag"> alpha </strong>
        <span class="govuk-phase-banner__text">
            This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.
        </span>
    </p>
</div>
<a class="govuk-back-link" href="javascript:window.history.back()">Back</a>
{% endblock %} {% block content %}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <form class="form" action="add-homeless-or-travelling" method="post">
            <div class="govuk-form-group">
                <fieldset class="govuk-fieldset" aria-describedby="waste-hint">
                    <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
                        <h1
                            class="govuk-fieldset__heading"
                            aria-label="Declaration, Warning, you could be prosecuted if you knowingly give false information in your application"
                        >
                            Why didnt you have an address?
                        </h1>
                    </legend>
                    <div class="govuk-radios" data-module="govuk-radios">
                        <div class="govuk-radios__item">
                            <input class="govuk-radios__input" id="where-do-you-live" name="why-no-address" type="radio" value="Homeless"
                            data-aria-controls="conditional-homeless" {{ checked("why-no-address", "Homeless") }} />
                            <label class="govuk-label govuk-radios__label" for="where-do-you-live"> I was homeless </label>
                        </div>
                        <div class="govuk-radios__conditional" id="conditional-homeless">
                            <h1 class="govuk-heading-s">Where were you homeless?</h1>
                            <div class="govuk-form-group">
                                <label class="govuk-label" for="county" aria-label="enter your UK Drivers Licence number"> Town or city </label>
                                <input
                                    class="govuk-input govuk-input--width-10"
                                    id="town-or-city-homeless"
                                    name="homeless-town-or-city"
                                    type="text"
                                    spellcheck="false"
                                    aria-describedby="account-number-hint"
                                    value='{{data["homeless-town-or-city"]}}'
                                />
                            </div>
                            <div class="govuk-form-group">
                                <label class="govuk-label" for="county" aria-label="enter your UK Drivers Licence number"> County</label>
                                <input
                                    class="govuk-input govuk-input--width-10"
                                    id="county-homeless"
                                    name="homeless-county"
                                    type="text"
                                    spellcheck="false"
                                    aria-describedby="account-number-hint"
                                    value='{{data["homeless-county"]}}'
                                />
                            </div>
                            <div class="govuk-form-group">
                                <h1 class="govuk-label-wrapper govuk-heading-s">What year did you start being homeless here?</h1>
                                <div id="homeless-date-hint" class="govuk-hint">For example, 1980</div>
                                <input
                                    class="govuk-input govuk-input--width-5"
                                    id="homeless-year"
                                    name="homeless-start"
                                    type="number"
                                    maxlength="4"
                                    autocomplete="postal-code"
                                    value='{{data["homeless-start"]}}'
                                />
                            </div>
                            <div class="govuk-form-group">
                                <h1 class="govuk-label-wrapper govuk-heading-s">Are you still homeless here?</h1>
                                <div class="govuk-radios" data-module="govuk-radios" style="margin-top: 10px">
                                    <div class="govuk-radios__item">
                                        <input class="govuk-radios__input" id="still-homeless-yes" name="still-homeless" type="radio" value="yes" {{
                                        checked("still-homeless", "yes") }} />
                                        <label class="govuk-label govuk-radios__label" for="still-homeless-yes"> Yes </label>
                                    </div>
                                    <div class="govuk-radios__item">
                                        <input class="govuk-radios__input" id="still-homeless-no" name="still-homeless" type="radio" value="no" {{
                                        checked("still-homeless", "no") }} />
                                        <label class="govuk-label govuk-radios__label" for="still-homeless-no"> No </label>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="govuk-radios__item">
                            <input class="govuk-radios__input" id="where-do-you-live-2" name="why-no-address" type="radio" value="Travelling"
                            data-aria-controls="conditional-travelling" {{ checked("why-no-address", "Travelling") }} />
                            <label class="govuk-label govuk-radios__label" for="where-do-you-live-2"> I was travelling </label>
                        </div>
                        <div class="govuk-radios__conditional" id="conditional-travelling">
                            <div class="govuk-form-group">
                                <h1 class="govuk-label-wrapper govuk-heading-s">Where were you travelling?</h1>
                                <label class="govuk-label" for="county" aria-label="enter your UK Drivers Licence number"> County </label>
                                <input
                                    class="govuk-input govuk-input--width-10"
                                    id="county"
                                    name="travelling-county"
                                    type="text"
                                    spellcheck="false"
                                />
                            </div>
                            <div class="govuk-form-group">
                                <h1 class="govuk-label-wrapper govuk-heading-s">What year did you start travelling?</h1>
                                <div id="passport-hint" class="govuk-hint">For example, 1980</div>
                                <input
                                    class="govuk-input govuk-input--width-5"
                                    id="year"
                                    name="travelling-start"
                                    type="number"
                                    maxlength="4"
                                    autocomplete="postal-code"
                                    value='{{data["postcode-lookup"]}}'
                                />
                            </div>
                            <div class="govuk-form-group">
                                <h1 class="govuk-label-wrapper govuk-heading-s">Are you still travelling here?</h1>
                                <div class="govuk-radios" data-module="govuk-radios" style="margin-top: 10px">
                                    <div class="govuk-radios__item">
                                        <input class="govuk-radios__input" id="still-travelling-yes" name="still-travelling" type="radio" value="yes"
                                        {{ checked("still-homeless", "yes") }} />
                                        <label class="govuk-label govuk-radios__label" for="still-travelling-yes"> Yes </label>
                                    </div>
                                    <div class="govuk-radios__item">
                                        <input class="govuk-radios__input" id="still-travelling-no" name="still-travelling" type="radio" value="no" {{
                                        checked("still-homeless", "no") }} />
                                        <label class="govuk-label govuk-radios__label" for="still-travelling-no"> No </label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </fieldset>
            </div>

            <button class="govuk-button" data-module="govuk-button">Continue</button>
        </form>
    </div>
</div>

{% endblock %}
