{% import "../macros/error-summary/govukErrorSummary.njk" as es %}{% extends "layout.html" %} {% block pageTitle %} Question page {% endblock %} {%
set serviceName %} Request a standard or enhanced DBS check {% endset%} {% block beforeContent %}
<div class="govuk-phase-banner">
    <p class="govuk-phase-banner__content">
        <strong class="govuk-tag govuk-phase-banner__content__tag"> alpha </strong>
        <span class="govuk-phase-banner__text">
            This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.
        </span>
    </p>
</div>
<a class="govuk-back-link" href="javascript:window.history.back()">Back</a>
{% endblock %} {% block content %}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        {% if validation | length %} {% set errorList = [] %} {% for key, value in validation %} {% set errorList = (errorList.push({ "text": value,
        "href": "#" + key }), errorList) %} {% endfor %} {{ es.govukErrorSummary({ "titleText": "There is a problem", "errorList": errorList }) }} {%
        endif %}
        <form class="form" method="post">
            <div class="govuk-form-group {% if validation['lived-elsewhere'] %}govuk-form-group--error{% endif %}">
                <fieldset class="govuk-fieldset">
                    <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
                        <h1 class="govuk-fieldset__heading">Have you lived anywhere else from {{date}} to now?</h1>
                    </legend>

                    <div class="govuk-radios govuk-radios--inline" data-module="govuk-radios">
                        <div class="govuk-radios__item">
                            <input class="govuk-radios__input" id="where-do-you-live" name="lived-elsewhere" type="radio" value="Yes" />
                            <label class="govuk-label govuk-radios__label" for="where-do-you-live">Yes</label>
                        </div>
                        <div class="govuk-radios__item">
                            <input class="govuk-radios__input" id="where-do-you-live-2" name="lived-elsewhere" type="radio" value="No" />
                            <label class="govuk-label govuk-radios__label" for="where-do-you-live-2">No</label>
                        </div>
                    </div>
                </fieldset>
            </div>

            <p class="govuk-body">
                You must tell us all your addresses for the last 5 years. This includes anywhere you've lived that is not in the UK.
                <br />
                <br />

                You cannot leave any gaps but it's fine to have overlapping dates.

                <br />
                <br />
                Include any other addresses that you live at. For example, student accommodation or if you work away from home.
            </p>

            {# <br />
            #}
            <details class="govuk-details" data-module="govuk-details">
                <summary class="govuk-details__summary">
                    <span class="govuk-details__summary-text">Other addresses you need to tell us about.</span>
                </summary>
                <div class="govuk-details__text">
                    If you live in student accommodation during term time, but live at another address in the holidays, you must tell us both
                    addresses. <br /><br />If you work away from home and spend most of the week at another address, you must tell us both addresses.
                </div>
            </details>

            <dl class="govuk-summary-list">
                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">DBS certificate address</dt>
                    <dd class="govuk-summary-list__value">
                        {% if certAddress['lineOne'] %}{{certAddress['lineOne']}}<br />{% endif %} {% if certAddress['lineTwo']
                        %}{{certAddress['lineTwo']}}<br />{% endif %} {% if certAddress['townOrCity'] %}{{certAddress['townOrCity']}}<br />{% endif %}
                        {% if certAddress['country'] %}{{certAddress['country']}}<br />{% endif %} {% if certAddress['postcode']
                        %}{{certAddress['postcode']}}<br />{% endif %}
                    </dd>
                    <dd class="govuk-summary-list__actions">
                        <a class="govuk-link" href="edit-address?type=certificate"> Change<span class="govuk-visually-hidden"></span> </a>
                    </dd>
                </div>
                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">Current {%if currentAddress.length > 1 %}addresses{%else%}address{%endif%}</dt>
                    <dd class="govuk-summary-list__value">
                        {% for address in currentAddress %} {% if address['lineOne'] %}{{address['lineOne']}}<br />{% endif %} {% if
                        address['lineTwo'] %}{{address['lineTwo']}}<br />{% endif %} {% if address['townOrCity'] %}{{address['townOrCity']}}<br />{%
                        endif %} {% if address['country'] %}{{address['country']}}<br />{% endif %} {% if address['postcode']
                        %}{{address['postcode']}}<br />{% endif %} From {{address['start-month']}} {{address['start-year']}} to now
                        <br />
                         <a class="govuk-link" href="edit-address?edit={{ loop.index }}&address={{address['type']}}&type=current">
                            Change<span class="govuk-visually-hidden"></span>
                        </a>
                        <a class="govuk-link" href="lived-elsewhere?item={{ loop.index }}&type=current">
                            Remove<span class="govuk-visually-hidden"></span>
                        </a>
                        <br />
                        <br />
                        {%endfor%}
                    </dd>
                
                </div>
                {%if previousAddresses.length > 0 %}
                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">Previous {%if previousAddresses.length > 1 %}addresses{%else%}address{%endif%}</dt>

                    <dd class="govuk-summary-list__value">
                        {% for address in previousAddresses %}{% if address['lineOne'] %}{{address['lineOne']}}<br />{% endif %} {% if
                        address['lineTwo'] %}{{address['lineTwo']}}<br />{% endif %} {% if address['townOrCity'] %}{{address['townOrCity']}}<br />{%
                        endif %} {% if address['country'] %}{{address['country']}}<br />{% endif %} {% if address['postcode']
                        %}{{address['postcode']}}<br />{% endif %} From {{address['start-month']}} {{address['start-year']}} to
                        {{address['end-month']}} {{address['end-year']}}
                        <br />
                        <a class="govuk-link" href="edit-address?edit={{ loop.index }}&address={{address['type']}}&type=previous">
                            Change<span class="govuk-visually-hidden"></span>
                        </a>
                        <a class="govuk-link" href="lived-elsewhere?item={{ loop.index }}&type=previous">
                            Remove<span class="govuk-visually-hidden"></span>
                        </a>
                        <br />
                        <br />
                        {%endfor%}
                    </dd>
                </div>
                {%endif%}
            </dl>

            <button class="govuk-button" data-module="govuk-button">Continue</button>
        </form>
    </div>
</div>

{% endblock %}
