{% import "../macros/error-summary/govukErrorSummary.njk" as  es %}
{% extends "layout.html" %}

{% block pageTitle %} Question page {% endblock %}

{% set serviceName %} Request a standard or enhanced DBS check {% endset %}

{% block beforeContent %}
    <div class="govuk-phase-banner">
        <p class="govuk-phase-banner__content">
            <strong class="govuk-tag govuk-phase-banner__content__tag"> alpha </strong>
            <span class="govuk-phase-banner__text">
            This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.
        </span>
        </p>
    </div>
    <a class="govuk-back-link" href="/citizen-application/sex">Back</a>
{% endblock %}

{% block content %}

    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">

            {% if validation | length %}

                {% set errorList = [] %}

                {% for key, value in validation %}
                    {% set errorList = (errorList.push({
                        "text": value,
                        "href": "#" + key
                    }), errorList) %}
                {% endfor %}

                {{ es.govukErrorSummary({ "titleText": "There is a problem", "errorList": errorList }) }}

            {% endif %}

            <form class="form" {% if query['change'] == 'true' %} action='review-application' {% else %}  action="" method="post" {% endif %} method="post">
                <div class="govuk-form-group  {% if validation['has-national-insurance-number'] %}govuk-form-group--error{% endif %}">
                    <fieldset class="govuk-fieldset" aria-describedby="ni-hint">
                        <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
                            <h1 class="govuk-fieldset__heading">Do you have a UK National Insurance number?</h1>
                        </legend>
                        {% if validation['has-national-insurance-number'] %}
                            <span id="nino-error" class="govuk-error-message">
                                <span class="govuk-visually-hidden">Error:</span> {{ validation['has-national-insurance-number'] }}
                            </span>
                        {% endif %}
                        <div id="ni-hint" class="govuk-hint">
                        If you don't have a UK National Insurance number you can still continue your application.
                    </div>
                        <div class="govuk-radios" data-module="govuk-radios">
                            <div class="govuk-radios__item">
                                <input
                                    class="govuk-radios__input"
                                    id="radio-option-1"
                                    name="has-national-insurance-number"
                                    type="radio"
                                    value="yes"
                                    {% if cache['has-national-insurance-number'] === 'yes' %} checked="checked" {% endif %}
                                    data-aria-controls="conditional-contact"
                                />
                                <label class="govuk-label govuk-radios__label" for="contact"> Yes </label>
                            </div>
                            
                            <div class="govuk-radios__conditional" id="conditional-contact">
                                <div class="govuk-form-group {% if validation['referred-nino-input'] %}govuk-form-group--error{% endif %}">
                                    <label class="govuk-label" for="national-insurance-number"> UK National Insurance number </label>
                                    {% if validation['referred-nino-input'] %}
                                        <span id="ninonr-error" class="govuk-error-message">
                                            <span class="govuk-visually-hidden">Error:</span> {{ validation['referred-nino-input'].message }}
                                        </span>
                                    {% endif %}
                                    <div id="nino-hint" class="govuk-hint">A National Insurance number is made up of 2 letters, 6 numbers and 1 letter, which is always A, B, C, or D. For example, QQ 12 34 56 C. It can be found on their National Insurance card, benefit letter, payslip, or P60.</div>
                                    <input 
                                        spellcheck="false"
                                        class="govuk-input govuk-input--width-20  {% if validation['referred-nino-input'] %}govuk-input--error{% endif %}" 
                                        name="referred-nino-input" 
                                        type="text" id="referred-nino-input" 
                                        autocomplete="on"
                                        id="referred-nino-input"
                                        {% if cache['national-insurance-number'] %}
                                            value={{cache['national-insurance-number']}}
                                        {% elif true %}
                                            value=''
                                        {% endif %}
                                    />  
                                </div>
                            </div>
                            <div class="govuk-radios__item">
                                <input
                                    class="govuk-radios__input"
                                    id="radio-option-0"
                                    name="has-national-insurance-number"
                                    type="radio"
                                    value="no"
                                    {% if cache['has-national-insurance-number'] === 'no' %} checked="checked" {% endif %}
                                    data-aria-controls="conditional-contact-2"
                                />
                                <label class="govuk-label govuk-radios__label" for="contact-2"> No </label>
                            </div>
                        </div>
                    </fieldset>
                    <details class="govuk-details" data-module="govuk-details" style='margin-top: 1rem'>
                        <summary class="govuk-details__summary">
                            <span class="govuk-details__summary-text"> I don't know my UK National Insurance number </span>
                        </summary>
                        <div class="govuk-details__text">
                        You can find your UK National insurance number on your payslip or letters about tax, pensions or benefits. Or you can find out
                        <a class="govuk-link" href="#">How to apply for a UK National insurance number.</a> You can apply once you're in the UK.
                    </div>
                    </details>
                </div>

                {% if query['change'] === 'true' %}
                    <button class="govuk-button" data-module="govuk-button">Check Answers</button>
                {% else %}
                    <button class="govuk-button" data-module="govuk-button">Continue</button>
                {% endif %}
            </form>
        </div>
    </div>

{% endblock %}