{% from "country.njk" import country %} {% import "../macros/error-summary/govukErrorSummary.njk" as es %} {% extends "layout.html" %} {% block
pageTitle %} Question page {% endblock %} {% set serviceName %} Request a standard or enhanced DBS check {% endset%} {% block beforeContent %}
<div class="govuk-phase-banner">
    <p class="govuk-phase-banner__content">
        <strong class="govuk-tag govuk-phase-banner__content__tag"> alpha </strong>
        <span class="govuk-phase-banner__text">
            This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.
        </span>
    </p>
</div>
<a class="govuk-back-link" href="javascript:window.history.back()">Back</a>
{% endblock %} {% block content %}
<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        {% if validation | length %} {% set errorList = [] %} {% for key, value in validation %} {% set errorList = (errorList.push({ "text": value,
        "href": "#" + key }), errorList) %} {% endfor %} {{ es.govukErrorSummary({ "titleText": "There is a problem", "errorList": errorList }) }} {%
        endif %}

        <form class="form" method="post">
            <div class="govuk-form-group">
                <fieldset class="govuk-fieldset" aria-describedby="passport-hint">
                    <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
                        <h1 class="govuk-fieldset__heading">Do you have a current passport?</h1>
                    </legend>
                    <div id="passport-hint" class="govuk-hint">If you do not have a passport you can still continue your application.</div>
                    <div class="govuk-radios govuk-radios--inline" data-module="govuk-radios">
                        <div class="govuk-radios__item">
                            <input class="govuk-radios__input" id="passport" name="has-passport" type="radio" value="yes" aria-label="Yes, input in
                            sub menu" data-aria-controls="conditional-contact" {{ checked("has-passport", "yes") }} />
                            <label class="govuk-label govuk-radios__label" for="passport"> Yes </label>
                        </div>

                        <div class="govuk-radios__item">
                            <input class="govuk-radios__input" id="passport-2" name="has-passport" type="radio" value="no" {{ checked("has-passport",
                            "no") }} />
                            <label class="govuk-label govuk-radios__label" for="passport-2"> No </label>
                        </div>
                    </div>

                    <div class="govuk-radios__conditional" id="conditional-contact">
                        <div class="govuk-form-group {% if validation['passport-number'] %}govuk-form-group--error{% endif %}">
                            <label class="govuk-label" for="passport-number"> Passport number </label>
                            {% if validation['passport-number'] %}
                            <span id="ninonr-error" class="govuk-error-message">
                                <span class="govuk-visually-hidden">Error:</span> {{ validation['passport-number'] }}
                            </span>
                            {% endif %}
                            <input
                                class="govuk-input govuk-!-width-one-half"
                                id="passport-number"
                                name="passport-number"
                                type="text"
                                spellcheck="false"
                                value='{{data["passport-number"]}}'
                                autocomplete="name"
                            />
                        </div>

                        {% if validation['passport-country-of-issue'] %} {{ country({ label: 'Country of issue', inputClass: 'govuk-input--width-20',
                        name: 'passport-country-of-issue', error: 'govuk-form-group--error', value: data['passport-country-of-issue'], errorMessage:
                        validation['passport-country-of-issue']}) }} {% else %} {{ country({ label: 'Country of issue', inputClass: 'govuk-input--width-20', name:
                        'passport-country-of-issue', value: data['passport-country-of-issue'] }) }} {% endif %}
                    </div>
                </fieldset>
            </div>

            {% if query['change'] === 'true' %}
            <button class="govuk-button" data-module="govuk-button">Check Answers</button>
            {% else %}
            <button class="govuk-button" data-module="govuk-button">Continue</button>
            {% endif %}
        </form>
    </div>
</div>

{% endblock %}
