{% from "country.njk" import country %} {% extends "layout.html" %} {% block pageTitle %} Question page {% endblock %} {% set serviceName %} Request a standard or enhanced DBS check {%
endset%} {% block beforeContent %}
<div class="govuk-phase-banner">
    <p class="govuk-phase-banner__content">
        <strong class="govuk-tag govuk-phase-banner__content__tag"> alpha </strong>
        <span class="govuk-phase-banner__text">
            This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.
        </span>
    </p>
</div>
<a class="govuk-back-link" href="javascript:window.history.back()">Back</a>
{% endblock %} {% block content %}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <form class="form" action="{{'review-application' if query['change'] == 'true' else 'address-lookup'}}" method="post">
            <fieldset class="govuk-fieldset">
                <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
                    <h1 class="govuk-fieldset__heading">Where were you born?</h1>
                </legend>
                <div class="govuk-form-group">
                    <label class="govuk-label" for="address-town"> Town or city </label>
                    <input class="govuk-input govuk-!-width-two-thirds" id="address-town" name="address-town" type="text" autocomplete="" value='{{data["address-town"]}}' />
                </div>
                {{ country({ label: 'Country', inputClass: 'govuk-!-width-two-thirds', name: 'address-country', value: data["address-country"] }) }}
            </fieldset>

            {% if query['change'] === 'true' %}
                <button class="govuk-button" data-module="govuk-button">Check Answers</button>
            {% else %}
                <button class="govuk-button" data-module="govuk-button">Continue</button>
            {% endif %}
        </form>
    </div>
</div>

{% endblock %}
