<!-- ---------------------------------------------------------------------------
-- Templates
---------------------------------------------------------------------------- -->
{% extends "layout.html" %}



<!-- ---------------------------------------------------------------------------
-- Page title
---------------------------------------------------------------------------- -->
{% block pageTitle %}
    Have you been known by any other names?
{% endblock %}



<!-- ---------------------------------------------------------------------------
-- Service name
---------------------------------------------------------------------------- -->
{% set serviceName %}
    Complete a requested standard or enhanced DBS check
{% endset %}



<!-- ---------------------------------------------------------------------------
-- Block / Before content
---------------------------------------------------------------------------- -->
{% block beforeContent %}
    <!-- Phrase banner. -->
    {{ govukPhaseBanner({
        html: "This is a new service – your <a class='govuk-link' href='#' rel='noopener noreferrer' target='_blank'>feedback (opens in a new tab)</a> will help us to improve it.",
        tag: {
            text: "Alpha"
        }
    }) }}

    <!-- Back link. -->
    {{ govukBackLink({
        href: "javascript:window.history.back()",
        text: "Back"
    }) }}
{% endblock %}



<!-- ---------------------------------------------------------------------------
-- Block / Content
---------------------------------------------------------------------------- -->
{% block content %}
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <!-- Errors / Summary. -->
            {% if validation | length %}
                {% set errorList = [] %}
                {% for key, value in validation %}
                    {% set errorList = (errorList.push({
                        "href": "#" + key,
                        "text": value
                    }), errorList) %}
                {% endfor %}
                {{ govukErrorSummary({
                    errorList: errorList,
                    titleText: "There's a problem with the information you have provided"
                }) }}
            {% endif %}
            
            <!-- Errors / Components. -->
            {% set errorComponentKnownByOtherNames = "" %}
            {% if validation | length %}
                <!-- Known by other names. -->
                {% if validation["known-by-other-names"] %}
                    {% set errorComponentKnownByOtherNames = {
                        text: validation["known-by-other-names"]
                    } %}
                {% endif %}
            {% endif %}

            <!-- Heading. -->
            {% call govukFieldset({
                legend: {
                    classes: "govuk-fieldset__legend--l govuk-!-margin-bottom-6",
                    isPageHeading: true,
                    text: "Have you been known by any other names?"
                }
            }) %}

                <!-- Hint. -->
                <p class="govuk-hint">You must tell us about all other names you’ve used, including middle names.</br>For example, you may have changed your name through marriage or deed poll.</p>

                <form method="post">
                    <!-- Radio buttons. -->
                    {{ govukRadios({
                        classes: "govuk-radios govuk-radios--inline",
                        errorMessage: errorComponentKnownByOtherNames,
                        items: [
                            {
                                checked: data["known-by-other-names"] === "Yes",
                                text: "Yes",
                                value: "Yes"
                            },
                            {
                                checked: data["known-by-other-names"] === "No",
                                text: "No",
                                value: "No"
                            }
                        ],
                        name: "known-by-other-names",
                        value: data["known-by-other-names"]
                    }) }}

                    <!-- Details. -->
                    {{ govukDetails({
                        html: "<p>You must include all names that are on your official documents. For example, your driving licence or passport.</p>
                               <p>If you’re using two names, for example for professional reasons. You must tell us both names.</p>
                               <p>If you were adopted before the age of 10, you do not need to tell us your name at birth.</p>
                               <p>We will print your other names on your paper certificate.</p>
                               <p>If you’re transgender or non-binary, and do not want the paper certificate to show details of your previous identity, you can contact the <a class='govuk-link' href='https://www.gov.uk/guidance/transgender-applications' rel='noopener noreferrer' target='_blank'>DBS sensitive applications team</a>.</p>",
                        summaryText: "Which names should I include?"
                    }) }}

                    <!-- Button. -->
                    {{ govukButton({
                        text: "Continue"
                    }) }}
                </form>
            {% endcall %}
        </div>
    </div>
{% endblock %}