{% extends "layout.html" %} {% block pageTitle %} Question page {% endblock %} {% set serviceName %} Request a standard or enhanced DBS check {%
endset%} {% block beforeContent %}
<div class="govuk-phase-banner">
    <p class="govuk-phase-banner__content">
        <strong class="govuk-tag govuk-phase-banner__content__tag"> alpha </strong>
        <span class="govuk-phase-banner__text">
            This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.
        </span>
    </p>
</div>
<a class="govuk-back-link" href="javascript:window.history.back()">Back</a>
{% endblock %} {% block content %}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <form class="form" action="send-certificate" method="post">
            <div class="govuk-form-group">
                <fieldset class="govuk-fieldset" aria-describedby="changed-name-hint">
                    <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
                        <h1 class="govuk-fieldset__heading">Have you lived anywhere else in the last 5 years?</h1>
                    </legend>
                    <div class="govuk-radios govuk-radios--inline" data-module="govuk-radios">
                        <div class="govuk-radios__item">
                            <input class="govuk-radios__input" id="changed-name" name="changed-name" type="radio" value="yes" />
                            <label class="govuk-label govuk-radios__label" for="changed-name"> Yes </label>
                        </div>
                        <div class="govuk-radios__item">
                            <input class="govuk-radios__input" id="changed-name-2" name="changed-name" type="radio" value="no" />
                            <label class="govuk-label govuk-radios__label" for="changed-name-2"> No </label>
                        </div>
                    </div>
                </fieldset>
                <div aria-live="polite" style="margin-top: 1.5rem">
                        <p>You must tell us all your addresses for the last 5 years. This includes anywhere you've lived that is not in the UK</p>
                        <p>You can't leave any gaps but it's fine to have overlapping dates.</p>
                        <p>Include any secondary addresses. For example student accommodation or if you work away from home.</p>
                    <div class="add-another-name" >
                      <details class="govuk-details" data-module="govuk-details" style='margin-top: 1rem'>
                          <summary class="govuk-details__summary">
                              <span class="govuk-details__summary-text">What is a secondary address</span>
                          </summary>
                          <div class="govuk-details__text">
                            <p>If you live in student accommodation during term time, but live at another address between academic years, you need to tell us both addresses.</p>
                              <p>If you work away from home, you must also tell us the address you live at for work if either of the following applies:
                                <ul class="govuk-list govuk-list--bullet">
                                   <li>you live there for months at a time </li>
                                   <li>you live there for most of the week</li>
                                   </ul>
                              <p>If you travel for work and often spend 1 or 2 days away from home, we do not need details of all the places you visit.</p>
                      </details>
                      <p class="govuk-body">
                          <a href="homeless-or-travelling" class="govuk-link">I was homeless or travelling and did not have an address</a>
                      </p>
                        <a href="address-lookup">
                            <button type="button" class="govuk-button" data-module="govuk-button">Add a previous address</button>
                        </a>
                    </div>
                </div>
                <table class="govuk-table">
                    <thead class="govuk-table__head">
                        <tr class="govuk-table__row">
                            <th scope="col" class="govuk-table__header">Address</th>
                            <th scope="col" class="govuk-table__header">Start of occupancy</th>
                            <th scope="col" class="govuk-table__header">Actions</th>
                        </tr>
                    </thead>
                    <tbody class="govuk-table__body">
                        {% for item in data['addresses'] %}
                        <tr class="govuk-table__row">
                            <td class="govuk-table__cell">
                                {% if item.lineOne !== '' %} {{ item.lineOne }} <br />
                                {% endif %} {% if item.lineTwo !== '' %} {{ item.lineTwo}} <br />
                                {% endif %} {% if item.townOrCity !== '' %} {{ item.townOrCity }} <br />
                                {% endif %} {% if item.county !== '' and item.county !== undefined %} {{ item.county }} <br />
                                {% endif %} {% if item.postcode !== '' %} {{ item.postcode }} <br />
                                {% endif %} {% if item.country !== '' %} {{ item.country }} <br />
                                {% endif %}
                            </td>
                            <td class="govuk-table__cell">{{item.startYear}}</td>
                            <td class="govuk-table__cell">
                                {%if item.startDate == undefined%}
                                <a class="govuk-link" href="/citizen-application/current-full-name">Change </a>
                                {% endif %} {%if item.startDate != undefined%}
                                <a class="govuk-link delete-name" id="{{loop.index}}" href="#"
                                    >Delete<span class="govuk-visually-hidden">{{loop.index}}</span>
                                </a>
                                {% endif %}
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>

            <button class="govuk-button" data-module="govuk-button">Continue</button>
        </form>
    </div>
</div>

{% endblock %}
