{% extends "layout.html" %} {% import "../macros/error-summary/govukErrorSummary.njk" as es %} {% block pageTitle %} Question page {% endblock %} {%
set serviceName %} Request a standard or enhanced DBS check {% endset%} {% block beforeContent %}
<div class="govuk-phase-banner">
    <p class="govuk-phase-banner__content">
        <strong class="govuk-tag govuk-phase-banner__content__tag"> alpha </strong>
        <span class="govuk-phase-banner__text">
            This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.
        </span>
    </p>
</div>
<a class="govuk-back-link" href="javascript:window.history.back()">Back</a>
{% endblock %} {% block content %}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        {% if validation | length %} {% set errorList = [] %} {% for key, value in validation %} {% set errorList = (errorList.push({ "text": value,
        "href": "#" + key }), errorList) %} {% endfor %} {{ es.govukErrorSummary({ "titleText": "There is a problem", "errorList": errorList }) }} {%
        endif %}
        <form class="form" method="post">
            <div class="govuk-form-group {% if validation['postcode-lookup'] %}govuk-form-group--error{% endif %}">
                <fieldset class="govuk-fieldset">
                    <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
                        <h1 class="govuk-fieldset__heading">Where would you like us to send your DBS certificate?</h1>
                    </legend>
                    <div id="waste-hint" class="govuk-hint">
                        We can send your certificate to your current address, another personal address (for example a family member), or a care of
                        address.

                        <br /><br />You must make sure that you are able to check the information on your DBS certificate is correct.
                    </div>

                    <div class="govuk-form-group">
                        <label class="govuk-label" for="postcode-lookup"> UK postcode </label>
                        <p id="cost-per-item-error-error" class="govuk-error-message error-msg" style="display: none">
                            <span class="govuk-visually-hidden">Error:</span> Invalid postcode
                        </p>
                        {% if validation['postcode-lookup'] %}
                        <span id="ninonr-error" class="govuk-error-message">
                            <span class="govuk-visually-hidden">Error:</span> {{ validation['postcode-lookup'] }}
                        </span>
                        {% endif %}
                        <input
                            class="govuk-input govuk-input--width-10"
                            id="postcode-lookup"
                            name="postcode-lookup"
                            type="text"
                            autocomplete="postal-code"
                            {% if cache['postcode-lookup'] %} value="{{cache['postcode-lookup']}}" {% endif %}
                        />
                    </div>

                    <button class="govuk-button lookup" type="button" data-module="govuk-button">Look up address</button>

                    <div class="govuk-form-group">
                        <label class="govuk-label" for="sort"> Select your address </label>
                        {% if validation['lookup-addr'] %}
                        <span id="ninonr-error" class="govuk-error-message">
                            <span class="govuk-visually-hidden">Error:</span> {{ validation['lookup-addr'] }}
                        </span>
                        {% endif %}
                        <select class="govuk-select govuk-input--width-20 postcode-select" id="sort" name="lookup-addr" disabled>
                            <option class="enter-postcode">Enter postcode</option>
                        </select>
                    </div>
                    <input class="hidden-details-town" name="hidden-details-town" type="text" hidden />
                    <input class="hidden-details-country" name="hidden-details-country" type="text" hidden />
                    <br />
                    <details class="govuk-details" data-module="govuk-details">
                        <summary class="govuk-details__summary">
                            <span class="govuk-details__summary-text"> Add your address manually</span>
                        </summary>
                        <div class="govuk-details__text">
                            If you have a non-UK address, or your UK address cannot be found, you can add your address manually

                            <p class="govuk-body">
                                <a href="cert-address-manual" class="govuk-button"> Add address manually </a>
                            </p>
                        </div>
                    </details>
                </fieldset>
            </div>

            <button class="govuk-button" data-module="govuk-button">Continue</button>
        </form>
    </div>
</div>

{% endblock %}
