{% extends "layout.html" %} {% from "country.njk" import country %} {% import "../macros/error-summary/govukErrorSummary.njk" as es %} {% block
pageTitle %} Question page {% endblock %} {% set serviceName %} Request a standard or enhanced DBS check {% endset%} {% block beforeContent %}

<script>
    function displayNumber() {
        var x = document.getElementById('phone-number').value;
        document.getElementById('number').innerHTML = x;
    }
</script>

<div class="govuk-phase-banner">
    <p class="govuk-phase-banner__content">
        <strong class="govuk-tag govuk-phase-banner__content__tag"> alpha </strong>
        <span class="govuk-phase-banner__text">
            This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.
        </span>
    </p>
</div>
<a class="govuk-back-link" href="javascript:window.history.back()">Back</a>
{% endblock %} {% block content %}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        {% if validation | length %} {% set errorList = [] %} {% for key, value in validation %} {% set errorList = (errorList.push({ "text": value,
        "href": "#" + key }), errorList) %} {% endfor %} {{ es.govukErrorSummary({ "titleText": "There is a problem", "errorList": errorList }) }} {%
        endif %}

        <form class="form" method="post">
            <div class="govuk-form-group">
                <fieldset class="govuk-fieldset">
                    <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
                        <h1 class="govuk-fieldset__heading">Can we send you text messages to update you about your application?</h1>
                    </legend>

                    <div class="govuk-hint">We’ll only use your mobile number to update you about your DBS application.</div>

                    <div class="govuk-radios govuk-radios--inline" data-module="govuk-radios">
                        <div class="govuk-radios__item">
                            <input class="govuk-radios__input" id="phone" name="wants-text" type="radio" value="yes" aria-label="Yes, input in sub
                            menu" data-aria-controls="conditional-contact" {% if cache['wants-text'] === 'yes' %} checked="checked" {% endif %} {{
                            checked("wants-text", "yes") }} />
                            <label class="govuk-label govuk-radios__label" for="phone"> Yes </label>
                        </div>

                        <div class="govuk-radios__item">
                            <input class="govuk-radios__input" id="phone-2" name="wants-text" type="radio" value="no" {% if cache['wants-text'] ===
                            'no' %} checked="checked" {% endif %} {{ checked("wants-text", "no") }} />
                            <label class="govuk-label govuk-radios__label" for="phone-2"> No </label>
                        </div>
                    </div>

                    <div class="govuk-radios__conditional" id="conditional-contact">
                        {% if validation['phone-country'] %}
                        <span id="ninonr-error" class="govuk-error-message">
                            <span class="govuk-visually-hidden">Error:</span> {{ validation['phone-country'] }}
                        </span>
                        {{ country({ label: 'Country', inputClass: 'govuk-input--width-20', name: 'phone-country', error: 'govuk-form-group--error'})
                        }} {% else %} {{ country({ label: 'Country', inputClass: 'govuk-input--width-20', name: 'phone-country', value:
                        data['phone-country'] }) }} {% endif %}

                        <div class="govuk-form-group {% if validation['phone-number'] %}govuk-form-group--error{% endif %}">
                            <label class="govuk-label" for="phone-number">Enter your mobile number</label>
                            {% if validation['phone-number'] %}
                            <span id="ninonr-error" class="govuk-error-message">
                                <span class="govuk-visually-hidden">Error:</span> {{ validation['phone-number'] }}
                            </span>
                            {% endif %}
                            <input
                                class="govuk-input govuk-!-width-one-half"
                                id="phone-number"
                                name="phone-number"
                                type="text"
                                spellcheck="false"
                                value='{{data["phone-number"]}}'
                                autocomplete="name"
                                oninput="displayNumber()"
                            />
                            <br /><br />
                            <label class="govuk-label">We’ll send text messages to:</label>
                            <p id="number" class="govuk-heading-m"></p>
                        </div>
                    </div>
                </fieldset>
            </div>

            {% if query['change'] === 'true' %}
            <button class="govuk-button" data-module="govuk-button">Check Answers</button>
            {% else %}
            <button class="govuk-button" data-module="govuk-button">Continue</button>
            {% endif %}
        </form>
    </div>
</div>

{% endblock %}
