{% from "country.njk" import country %} {% extends "layout.html" %} {% block pageTitle %} Question page {% endblock %} {% set serviceName %} Request a
standard or enhanced DBS check {% endset%} {% block beforeContent %}
<div class="govuk-phase-banner">
    <p class="govuk-phase-banner__content">
        <strong class="govuk-tag govuk-phase-banner__content__tag"> alpha </strong>
        <span class="govuk-phase-banner__text">
            This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.
        </span>
    </p>
</div>
<a class="govuk-back-link" href="javascript:window.history.back()">Back</a>
{% endblock %} {% block content %}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <form class="form" method="post">
            <fieldset class="govuk-fieldset">
                <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
                    <h1 class="govuk-fieldset__heading">What is your current address?</h1>
                </legend>
                <div class="govuk-form-group">
                    <label class="govuk-label" for="postcode-lookup"> Number and street </label>
                    <input class="govuk-input govuk-input--width-20" id="postcode-lookup" name="lookup-addr" type="text" autocomplete="postal-code" />
                </div>

                <div class="govuk-form-group">
                    <label class="govuk-label" for="town-or-city"> Town or City </label>
                    <input
                        class="govuk-input govuk-input--width-20"
                        id="town-or-city"
                        name="hidden-details-town"
                        type="text"
                        autocomplete="town-or-city"
                    />
                    <label class="govuk-label" for="postcode-lookup-2"></label>
                </div>

                {% if query['lookup'] == 'true' %} {{ country({ label: 'Country', inputClass: 'govuk-input--width-20', name: 'hidden-details-country',
                value: 'United Kingdom' }) }} {% else %} {{ country({ label: 'Country', inputClass: 'govuk-input--width-20', name:
                'hidden-details-country' }) }} {% endif %} {# {% if query['certificate'] !== 'true' %}
                <div class="govuk-form-group">
                    <label class="govuk-label" for="year"> <strong>What year did you start living here?</strong> </label>
                    <div id="passport-hint" class="govuk-hint">For example, 1980</div>
                    <input class="govuk-input govuk-input--width-5" id="year" name="address" type="number" maxlength="4" autocomplete="postal-code" />
                </div>
                {% endif %} #}

                <div class="govuk-form-group">
                    <label class="govuk-label" for="postcode"> Postcode </label>
                    <input class="govuk-input govuk-input--width-10" id="postcode" name="postcode-lookup" type="text" autocomplete="postal-code" />
                    <label class="govuk-label" for="postcode-lookup-2"></label>
                </div>
                <button class="govuk-button" data-module="govuk-button">Continue</button>
            </fieldset>
        </form>
    </div>
</div>

{% endblock %}
