<!-- ---------------------------------------------------------------------------
-- Templates
---------------------------------------------------------------------------- -->
{% extends "layout.html" %}



<!-- ---------------------------------------------------------------------------
-- Page title
---------------------------------------------------------------------------- -->
{% block pageTitle %}
    What happens next when an Applicant's ID has not been possible to verify
{% endblock %}



<!-- ---------------------------------------------------------------------------
-- Service name
---------------------------------------------------------------------------- -->
{% set serviceName %}
    Verify ID for a standard or enhanced DBS check
{% endset %}



<!-- ---------------------------------------------------------------------------
-- Block / Before content
---------------------------------------------------------------------------- -->
{% block beforeContent %}
    <!-- Phrase banner. -->
    {{ govukPhaseBanner({
        html: "This is a new service – your <a class='govuk-link' href='#' rel='noopener noreferrer' target='_blank'>feedback (opens in a new tab)</a> will help us to improve it.",
        tag: {
            text: "Alpha"
        }
    }) }}
{% endblock %}



<!-- ---------------------------------------------------------------------------
-- Block / Content
---------------------------------------------------------------------------- -->
{% block content %}
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <!-- Heading. -->
            {% call govukFieldset({
                legend: {
                    classes: "govuk-fieldset__legend--l govuk-!-margin-bottom-6",
                    isPageHeading: true,
                    text: "What happens next when an Applicant's ID has not been possible to verify"
                }
            }) %}

                <!-- Notification banner. -->
                {{ govukNotificationBanner({
                    text: "Application cancelled",
                    type: "success"
                }) }}

                <!-- Summary list. -->
                {{ govukSummaryList({
                    rows: [
                        {
                            key: {
                                text: "Applicant name"
                            },
                            value: {
                                text: ""
                            }
                        },
                        {
                            key: {
                                text: "Status"
                            },
                            value: {
                                text: ""
                            }
                        },
                        {
                            key: {
                                text: "Type"
                            },
                            value: {
                                text: ""
                            }
                        },
                        {
                            key: {
                                text: "Modified date"
                            },
                            value: {
                                text: ""
                            }
                        }
                    ]
                }) }}

                <p class="govuk-body">
                    We've sent an email to the applicant.<br/>
                    You have not been charged for this application.<br/>
                    <br/>
                    If the applicant still needs a DBS check, you must start a new application for them.
                </p>

                <form method="post">
                    <!-- Button. -->
                    {{ govukButton({
                        text: "Return to dashboard"
                    }) }}
                </form>
            {% endcall %}
        </div>
    </div>
{% endblock %}