<!-- ---------------------------------------------------------------------------
-- Templates
---------------------------------------------------------------------------- -->
{% extends "layout.html" %}



<!-- ---------------------------------------------------------------------------
-- Page title
---------------------------------------------------------------------------- -->
{% block pageTitle %}
    Create a password
{% endblock %}



<!-- ---------------------------------------------------------------------------
-- Service name
---------------------------------------------------------------------------- -->
{% set serviceName %}
    Verify ID for a standard or enhanced DBS check
{% endset %}



<!-- ---------------------------------------------------------------------------
-- Block / Before content
---------------------------------------------------------------------------- -->
{% block beforeContent %}
    <!-- Phrase banner. -->
    {{ govukPhaseBanner({
        html: "This is a new service – your <a class='govuk-link' href='#' rel='noopener noreferrer' target='_blank'>feedback (opens in a new tab)</a> will help us to improve it.",
        tag: {
            text: "Alpha"
        }
    }) }}

    <!-- Back link. -->
    {{ govukBackLink({
        href: "javascript:window.history.back()",
        text: "Back"
    }) }}
{% endblock %}



<!-- ---------------------------------------------------------------------------
-- Block / Content
---------------------------------------------------------------------------- -->
{% block content %}
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <!-- Errors / Summary. -->
            {% if validation | length %}
                {% set errorList = [] %}
                {% for key, value in validation %}
                    {% set errorList = (errorList.push({
                        "href": "#" + key,
                        "text": value
                    }), errorList) %}
                {% endfor %}
                {{ govukErrorSummary({
                    errorList: errorList,
                    titleText: "There's a problem with the information you have provided"
                }) }}
            {% endif %}

            <!-- Errors / Components. -->
            {% set errorComponentDeactivatedIdCheckerPassword = "" %}
            {% set errorComponentDeactivatedIdCheckerPasswordConfirm = "" %}
            {% if validation | length %}
                <!-- Password. -->
                {% if validation["deactivated-id-checker-password"] %}
                    {% set errorComponentDeactivatedIdCheckerPassword = {
                        text: validation["deactivated-id-checker-password"]
                    } %}
                {% endif %}
                <!-- Confirm password. -->
                {% if validation["deactivated-id-checker-password-confirm"] %}
                    {% set errorComponentDeactivatedIdCheckerPasswordConfirm = {
                        text: validation["deactivated-id-checker-password-confirm"]
                    } %}
                {% endif %}
            {% endif %}
            
            <!-- Heading. -->
            {% call govukFieldset({
                legend: {
                    classes: "govuk-fieldset__legend--l govuk-!-margin-bottom-6",
                    isPageHeading: true,
                    text: "Create a new password"
                }
            }) %}

                <form method="post">
                    <!-- Text input. -->
                    {{ govukInput({
                        classes: "govuk-!-width-two-thirds",
                        errorMessage: errorComponentDeactivatedIdCheckerPassword,
                        hint: {
                            text: "Your password must have at least 8 characters"
                        },
                        id: "deactivated-id-checker-password",
                        label: {
                            text: "Password"
                        },
                        name: "deactivated-id-checker-password",
                        spellcheck: false,
                        type: "password"
                    }) }}

                    <!-- Text input. -->
                    {{ govukInput({
                        classes: "govuk-!-width-two-thirds",
                        errorMessage: errorComponentDeactivatedIdCheckerPasswordConfirm,
                        id: "deactivated-id-checker-password-confirm",
                        label: {
                            text: "Confirm password"
                        },
                        name: "deactivated-id-checker-password-confirm",
                        spellcheck: false,
                        type: "password"
                    }) }}

                    <!-- Button. -->
                    {{ govukButton({
                        text: "Continue"
                    }) }}
                </form>
            {% endcall %}
        </div>
    </div>
{% endblock %}