<!-- ---------------------------------------------------------------------------
-- Templates
---------------------------------------------------------------------------- -->
{% extends "layout.html" %}



<!-- ---------------------------------------------------------------------------
-- Page title
---------------------------------------------------------------------------- -->
{% block pageTitle %}
    Applications
{% endblock %}



<!-- ---------------------------------------------------------------------------
-- Service name
---------------------------------------------------------------------------- -->
{% set serviceName %}
    Verify ID for a standard or enhanced DBS check
{% endset %}



<!-- ---------------------------------------------------------------------------
-- Block / Before content
---------------------------------------------------------------------------- -->
{% block beforeContent %}
    <!-- Phrase banner. -->
    {{ govukPhaseBanner({
        html: "This is a new service – your <a class='govuk-link' href='#' rel='noopener noreferrer' target='_blank'>feedback (opens in a new tab)</a> will help us to improve it.",
        tag: {
            text: "Alpha"
        }
    }) }}
{% endblock %}



<!-- ---------------------------------------------------------------------------
-- Block / Content
---------------------------------------------------------------------------- -->
{% block content %}
    <!-- Heading. -->
    <h1 class="govuk-heading-l">Applications</h1>

    <!-- Hint. -->
    <p class="govuk-hint govuk-!-margin-bottom-6">These applications are ready for ID checking. You must assign the application to yourself before verifying the ID.</p>

    <!-- Search. -->
    <!-- Heading. -->
    <h2 class="govuk-heading-m">Search</h2>

    <div class="govuk-grid-row">
        <form method="post">
            <div class="govuk-grid-column-three-quarters">
                <!-- Input. -->
                {{ govukInput({
                    id: "filter-applicant-name",
                    label: {
                        text: "Applicant name"
                    },
                    name: "filter-applicant-name",
                    value: data["filter-applicant-name"]
                }) }}
            </div>
            <div class="govuk-grid-column-one-quarter govuk-!-margin-top-6">
                <!-- Button -->
                {{ govukButton({
                    attributes: {
                        "style": "float: right;
                                  width: 100%"
                    },
                    classes: "govuk-button--secondary",
                    text: "Search"
                }) }}
            </div>
        </form>
    </div>

    <!-- Table rows / applications. -->
    {% set tableRows = [] %}
    {% set idcApplications = data["idc-applications"] %}
    {% if data["idc-applications-filtered"] %}
        {% set idcApplications = data["idc-applications-filtered"] %}
    {% endif %}
    {% for application in idcApplications %}
        <!-- Name. -->
        {% set applicationFirstName = application["firstName"] %}
        {% set applicationSurname = application["surname"] %}
        <!-- Address. -->
        {% set applicationAddress = application["address"][0]["lineOne"] + ", " +
                                    application["address"][0]["lineTwo"] + ", " +
                                    application["address"][0]["townOrCity"] + ", " +
                                    application["address"][0]["postcode"] %}
        <!-- Date submitted. -->
        {% set applicationDateSubmitted = application["dateSubmitted"] %}
        <!-- Identity checker. -->
        {% set applicationIdChecker = '<strong class="govuk-!-font-size-14 govuk-tag govuk-tag--yellow">Unassigned</strong>' %}
        {% if application["idChecker"] !== "Unassigned" %}
            {% set applicationIdChecker = '<strong class="govuk-!-font-size-14 govuk-tag govuk-tag--green">' + application["idChecker"] + '</strong>' %}
        {% endif %}
        <!-- View full details. -->
        {% set applicationViewVerifyingId = "" %}
        {% if idCheckerCurrent === application["idChecker"] %}
            {% set applicationViewVerifyingId = '<a class="govuk-link" href="verifying-id?application=' + application["id"] + '" rel="noopener noreferrer" style="text-align: right;">Full details and verify ID</a>' %}
        {% endif %}
        <!-- Assign to identity checker. -->
        {% set applicationAssignToIdentityChecker = "" %}
        {% if idCheckerCurrent !== application["idChecker"] %}
            {% set applicationAssignToIdentityChecker = '<a class="govuk-link" href="dashboard-application-assign?id=' + application["id"] + '" rel="noopener noreferrer">Assign to me</a>' %}
        {% endif %}

        <!-- Table cell / application. -->
        {% set tableCell =
            [
                {
                    attributes: {
                        "data-sort-value": applicationSurname,
                        "style": "width: 34.25%"
                    },
                    html: '<p class="govuk-body-m govuk-!-font-weight-bold govuk-!-margin-top-1 govuk-!-margin-bottom-1">Name</p>
                           <p class="govuk-body-m govuk-!-font-weight-bold govuk-!-margin-bottom-1">Address</p>
                           <p class="govuk-body-m govuk-!-font-weight-bold govuk-!-margin-bottom-1">Date submitted</p>
                           <p class="govuk-body-m govuk-!-font-weight-bold govuk-!-margin-bottom-1">Identity checker</p>
                           <p class="govuk-body-m govuk-!-margin-top-3 govuk-!-margin-bottom-1">' + applicationViewVerifyingId + '</p>'
                },
                {
                    attributes: {
                        "data-sort-value": applicationDateSubmitted
                    },
                    html: '<p class="govuk-body-m govuk-!-margin-top-1 govuk-!-margin-bottom-1">' + applicationFirstName + ' ' + applicationSurname + '</p>
                           <p class="govuk-body-m govuk-!-margin-bottom-1">' + applicationAddress + '</p>
                           <p class="govuk-body-m govuk-!-margin-bottom-1">' + applicationDateSubmitted + '</p>
                           <p class="govuk-body-m govuk-!-margin-bottom-1">' + applicationIdChecker + applicationAssignToIdentityChecker + '</p>'
                }
            ]
        %}
        {% set tableRows = (tableRows.push(tableCell), tableRows) %}
    {% endfor %}

    <!-- Table. -->
    {{ govukTable({
        attributes: {
            "data-module": "moj-sortable-table"
        },
        firstCellIsHeader: false,
        head: [
            {
                attributes: {
                    "aria-sort": "none"
                },
                text: "Last name"
            },
            {
                attributes: {
                    "aria-sort": "none"
                },
                text: "Date submitted"
            },
            {
            }
        ],
        rows: tableRows
    }) }}
{% endblock %}