<!-- ---------------------------------------------------------------------------
-- Templates
---------------------------------------------------------------------------- -->
{% extends "layout.html" %}



<!-- ---------------------------------------------------------------------------
-- Page title
---------------------------------------------------------------------------- -->
{% block pageTitle %}
    Declaration
{% endblock %}



<!-- ---------------------------------------------------------------------------
-- Service name
---------------------------------------------------------------------------- -->
{% set serviceName %}
    Verify ID for a standard or enhanced DBS check
{% endset %}



<!-- ---------------------------------------------------------------------------
-- Block / Before content
---------------------------------------------------------------------------- -->
{% block beforeContent %}
    <!-- Phrase banner. -->
    {{ govukPhaseBanner({
        html: "This is a new service – your <a class='govuk-link' href='#' rel='noopener noreferrer' target='_blank'>feedback (opens in a new tab)</a> will help us to improve it.",
        tag: {
            text: "Alpha"
        }
    }) }}

    <!-- Back link. -->
    {{ govukBackLink({
        href: "javascript:window.history.back()",
        text: "Back"
    }) }}
{% endblock %}



<!-- ---------------------------------------------------------------------------
-- Block / Content
---------------------------------------------------------------------------- -->
{% block content %}
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <!-- Errors / Summary. -->
            {% if validation | length %}
                {% set errorList = [] %}
                {% for key, value in validation %}
                    {% set errorList = (errorList.push({
                        "href": "#" + key,
                        "text": value
                    }), errorList) %}
                {% endfor %}
                {{ govukErrorSummary({
                    errorList: errorList,
                    titleText: "There's a problem with the information you have provided"
                }) }}
            {% endif %}
            
            <!-- Errors / Components. -->
            {% set errorComponentConfirm = "" %}
            {% set errorComponentDeclare = "" %}
            {% if validation | length %}
                <!-- Confirm. -->
                {% if validation["confirm"] %}
                    {% set errorComponentConfirm = {
                        text: validation["confirm"]
                    } %}
                {% endif %}
                <!-- Declare. -->
                {% if validation["declare"] %}
                    {% set errorComponentDeclare = {
                        text: validation["declare"]
                    } %}
                {% endif %}
            {% endif %}
            
            <!-- Heading. -->
            {% call govukFieldset({
                legend: {
                    classes: "govuk-fieldset__legend--l govuk-!-margin-bottom-6",
                    isPageHeading: true,
                    text: "Declaration"
                }
            }) %}

                <form method="post">
                    <!-- Checkboxes. -->
                    {{ govukCheckboxes({
                        errorMessage: errorComponentConfirm,
                        items: [
                            {
                                text: "I confirm that the requisite documentation and information has been supplied and checked in accordance with DBS guidance."
                            }
                        ],
                        name: "confirm"
                    }) }}

                    <!-- Checkboxes. -->
                    {{ govukCheckboxes({
                        errorMessage: errorComponentDeclare,
                        items: [
                            {
                                text: "I declare that the information I have provided in support of the application is complete and true and understand that knowingly to make a false statement for this purpose may be a criminal offence."
                            }
                        ],
                        name: "declare"
                    }) }}

                    <!-- Button. -->
                    {{ govukButton({
                        text: "Agree and submit"
                    }) }}
                </form>
            {% endcall %}
        </div>
    </div>
{% endblock %}