<!-- ---------------------------------------------------------------------------
-- Templates
---------------------------------------------------------------------------- -->
{% extends "layout.html" %}



<!-- ---------------------------------------------------------------------------
-- Page title
---------------------------------------------------------------------------- -->
{% block pageTitle %}
    ID documents
{% endblock %}



<!-- ---------------------------------------------------------------------------
-- Service name
---------------------------------------------------------------------------- -->
{% set serviceName %}
    Verify ID for a standard or enhanced DBS check
{% endset %}



<!-- ---------------------------------------------------------------------------
-- Block / Before content
---------------------------------------------------------------------------- -->
{% block beforeContent %}
    <!-- Phrase banner. -->
    {{ govukPhaseBanner({
        html: "This is a new service – your <a class='govuk-link' href='#' rel='noopener noreferrer' target='_blank'>feedback (opens in a new tab)</a> will help us to improve it.",
        tag: {
            text: "Alpha"
        }
    }) }}

    <!-- Back link. -->
    {{ govukBackLink({
        href: "javascript:window.history.back()",
        text: "Back"
    }) }}
{% endblock %}



<!-- ---------------------------------------------------------------------------
-- Block / Content
---------------------------------------------------------------------------- -->
{% block content %}
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <!-- Errors / Summary. -->
            {% if validation | length %}
                {% set errorList = [] %}
                {% for key, value in validation %}
                    {% set errorList = (errorList.push({
                        "href": "#" + key,
                        "text": value
                    }), errorList) %}
                {% endfor %}
                {{ govukErrorSummary({
                    errorList: errorList,
                    titleText: "There's a problem with the information you have provided"
                }) }}
            {% endif %}
            
            <!-- Errors / Components. -->
            {% set errorComponentIdDocuments = "" %}
            {% if validation | length %}
                <!-- ID documents. -->
                {% if validation["id-documents"] %}
                    {% set errorComponentIdDocuments = {
                        text: validation["id-documents"]
                    } %}
                {% endif %}
            {% endif %}
            
            <!-- Heading. -->
            {% call govukFieldset({
                legend: {
                    classes: "govuk-fieldset__legend--l govuk-!-margin-bottom-6",
                    isPageHeading: true,
                    text: "ID documents"
                }
            }) %}

                <!-- Body. -->
                <p class="govuk-body">I have seen documents as set out in <a class="govuk-link" href="https://www.gov.uk/government/publications/dbs-identity-checking-guidelines/id-checking-guidelines-for-standardenhanced-dbs-check-applications-from-1-july-2021" rel="noopener noreferrer" target="_blank">DBS Guidance</a> to verify:</p>

                <form method="post">
                    <!-- Checkboxes. -->
                    {{ govukCheckboxes({
                        errorMessage: errorComponentIdDocuments,
                        items: [
                            {
                                hint: {
                                    text: "Including applicant's title, surname and forenames"
                                },
                                text: "Applicant's name"
                            },
                            {
                                text: "Date of birth"
                            },
                            {
                                text: "National Insurance number"
                            },
                            {
                                text: "Driving licence number"
                            },
                            {
                                text: "Passport number"
                            },
                            {
                                text: "Current address"
                            }
                        ],
                        name: "id-documents"
                    }) }}

                    <!-- Button. -->
                    {{ govukButton({
                        text: "Continue"
                    }) }}
                </form>
            {% endcall %}
        </div>
    </div>
{% endblock %}