<!-- ---------------------------------------------------------------------------
-- Templates
---------------------------------------------------------------------------- -->
{% extends "layout.html" %}



<!-- ---------------------------------------------------------------------------
-- Page title
---------------------------------------------------------------------------- -->
{% block pageTitle %}
    Sign in
{% endblock %}



<!-- ---------------------------------------------------------------------------
-- Service name
---------------------------------------------------------------------------- -->
{% set serviceName %}
    Verify ID for a standard or enhanced DBS check
{% endset %}



<!-- ---------------------------------------------------------------------------
-- Block / Before content
---------------------------------------------------------------------------- -->
{% block beforeContent %}
    <!-- Phrase banner. -->
    {{ govukPhaseBanner({
        html: "This is a new service – your <a class='govuk-link' href='#' rel='noopener noreferrer' target='_blank'>feedback (opens in a new tab)</a> will help us to improve it.",
        tag: {
            text: "Alpha"
        }
    }) }}
{% endblock %}



<!-- ---------------------------------------------------------------------------
-- Block / Content
---------------------------------------------------------------------------- -->
{% block content %}
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <!-- Errors / Summary. -->
            {% if validation | length %}
                {% set errorList = [] %}
                {% for key, value in validation %}
                    {% set errorList = (errorList.push({
                        "href": "#" + key,
                        "text": value
                    }), errorList) %}
                {% endfor %}
                {{ govukErrorSummary({
                    errorList: errorList,
                    titleText: "There's a problem with the information you have provided"
                }) }}
            {% endif %}
            
            <!-- Errors / Components. -->
            {% set errorComponentIdcLoginEmail = "" %}
            {% set errorComponentIdcLoginPassword = "" %}
            {% if validation | length %}
                <!-- IDC login email. -->
                {% if validation["idc-login-email"] %}
                    {% set errorComponentIdcLoginEmail = {
                        text: validation["idc-login-email"]
                    } %}
                {% endif %}
                <!-- IDC login password. -->
                {% if validation["idc-login-password"] %}
                    {% set errorComponentIdcLoginPassword = {
                        text: validation["idc-login-password"]
                    } %}
                {% endif %}
            {% endif %}
            
            <!-- Heading. -->
            {% call govukFieldset({
                legend: {
                    classes: "govuk-fieldset__legend--l govuk-!-margin-bottom-6",
                    isPageHeading: true,
                    text: "Sign in"
                }
            }) %}

                <form method="post">
                    <!-- Text input. -->
                    {{ govukInput({
                        autocomplete: "email",
                        classes: "govuk-input govuk-!-width-two-thirds",
                        errorMessage: errorComponentIdcLoginEmail,
                        id: "idc-login-email",
                        inputmode: "email",
                        label: {
                            text: "Email address"
                        },
                        name: "idc-login-email",
                        spellcheck: false,
                        value: data["idc-login-email"]
                    }) }}

                    <!-- Text input. -->
                    {{ govukInput({
                        classes: "govuk-input govuk-!-width-two-thirds",
                        errorMessage: errorComponentIdcLoginPassword,
                        id: "idc-login-password",
                        label: {
                            text: "Password"
                        },
                        name: "idc-login-password",
                        spellcheck: false,
                        type: "password"
                    }) }}

                    <!-- Button. -->
                    {{ govukButton({
                        text: "Continue"
                    }) }}
                </form>
            {% endcall %}
        </div>
    </div>
{% endblock %}