<!-- ---------------------------------------------------------------------------
-- Templates
---------------------------------------------------------------------------- -->
{% extends "layout.html" %}



<!-- ---------------------------------------------------------------------------
-- Page title
---------------------------------------------------------------------------- -->
{% block pageTitle %}
    Check your mobile
{% endblock %}



<!-- ---------------------------------------------------------------------------
-- Service name
---------------------------------------------------------------------------- -->
{% set serviceName %}
    Verify ID for a standard or enhanced DBS check
{% endset %}



<!-- ---------------------------------------------------------------------------
-- Render Path
---------------------------------------------------------------------------- -->
{% set renderPath = "/seas-idc/security-code-check" %}



<!-- ---------------------------------------------------------------------------
-- Block / Before content
---------------------------------------------------------------------------- -->
{% block beforeContent %}
    <!-- Phrase banner. -->
    {{ govukPhaseBanner({
        html: "This is a new service – your <a class='govuk-link' href='#' rel='noopener noreferrer' target='_blank'>feedback (opens in a new tab)</a> will help us to improve it.",
        tag: {
            text: "Alpha"
        }
    }) }}

    <!-- Back link. -->
    {{ govukBackLink({
        href: "javascript:window.history.back()",
        text: "Back"
    }) }}
{% endblock %}



<!-- ---------------------------------------------------------------------------
-- Block / Content
---------------------------------------------------------------------------- -->
{% block content %}
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <!-- Errors / Summary. -->
            {% if validation | length %}
                {% set errorList = [] %}
                {% for key, value in validation %}
                    {% set errorList = (errorList.push({
                        "href": "#" + key,
                        "text": value
                    }), errorList) %}
                {% endfor %}
                {{ govukErrorSummary({
                    errorList: errorList,
                    titleText: "There's a problem with the information you have provided"
                }) }}
            {% endif %}

            <!-- Errors / Components. -->
            {% set errorComponentIdCheckerSecurityCode = "" %}
            {% if validation | length %}
                <!-- Enter security code. -->
                {% if validation["id-checker-security-code"] %}
                    {% set errorComponentIdCheckerSecurityCode = {
                        text: validation["id-checker-security-code"]
                    } %}
                {% endif %}
            {% endif %}
            
            <!-- Heading. -->
            {% call govukFieldset({
                legend: {
                    classes: "govuk-fieldset__legend--l govuk-!-margin-bottom-6",
                    isPageHeading: true,
                    text: "Check your mobile"
                }
            }) %}

                <!-- Body. -->
                <p class="govuk-body">
                    Enter the 6 digit security code we sent to ***** ***{{ data["deactivated-id-checker-mobile"].trim().substring(9) }}
                </p>

                <!-- Inset text. -->
                {{ govukInsetText({
                    text: "This security code will expire in 10 minutes"
                }) }}

                <form method="post">
                    <!-- Text input. -->
                    {{ govukInput({
                        classes: "govuk-!-width-one-quarter",
                        errorMessage: errorComponentIdCheckerSecurityCode,
                        id: "id-checker-security-code",
                        inputmode: "numeric",
                        label: {
                            text: "Enter security code"
                        },
                        name: "id-checker-security-code",
                        spellcheck: false
                    }) }}

                    <!-- Body. -->
                    <p class="govuk-body">
                        Didn't receive your security code, or the security code has expired?<br>
                        <a class="govuk-link" href={{ renderPath }} rel="noopener noreferrer">
                            Resend security code
                        </a>
                    </p>

                    <!-- Button. -->
                    {{ govukButton({
                        text: "Continue"
                    }) }}
                </form>
            {% endcall %}
        </div>
    </div>
{% endblock %}