<!-- ---------------------------------------------------------------------------
-- Templates
---------------------------------------------------------------------------- -->
{% extends "layout.html" %}



<!-- ---------------------------------------------------------------------------
-- Page title
---------------------------------------------------------------------------- -->
{% block pageTitle %}
    Verify ID for a standard or enhanced DBS check
{% endblock %}



<!-- ---------------------------------------------------------------------------
-- Service name
---------------------------------------------------------------------------- -->
{% set serviceName %}
{% endset %}



<!-- ---------------------------------------------------------------------------
-- Block / Before content
---------------------------------------------------------------------------- -->
{% block beforeContent %}
    <!-- Phrase banner. -->
    {{ govukPhaseBanner({
        html: "This is a new service – your <a class='govuk-link' href='#' rel='noopener noreferrer' target='_blank'>feedback (opens in a new tab)</a> will help us to improve it.",
        tag: {
            text: "Alpha"
        }
    }) }}
{% endblock %}



<!-- ---------------------------------------------------------------------------
-- Block / Content
---------------------------------------------------------------------------- -->
{% block content %}
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <!-- Heading. -->
            <h1 class="govuk-heading-l">
                Verify ID for a standard or enhanced DBS check
            </h1>

            <!-- Body. -->
            <p class="govuk-body">
                If you're an ID Checker, you can use this service to:
            </p>

            <!-- List bullet. -->
            <ul class="govuk-list govuk-list--bullet">
                <li>
                    activate your ID Checker account
                </li>
                <li>
                    view DBS applications that need ID verification
                </li>
                <li>
                    record the outcome of the ID verification
                </li>
                <li>
                    submit the ID check to a countersignatory for review
                </li>
            </ul>

            <form method="post">
                <!-- Button. -->
                {{ govukButton({
                    text: "Continue"
                }) }}
            </form>
        </div>
    </div>
{% endblock %}