{% extends "layout.html" %} {% block pageTitle %} Confirmation page {% endblock %} {% set serviceName %} Request a standard or enhanced DBS check {%
endset%} {% block beforeContent %}
<div class="govuk-phase-banner">
    <p class="govuk-phase-banner__content">
        <strong class="govuk-tag govuk-phase-banner__content__tag"> alpha </strong>
        <span class="govuk-phase-banner__text">
            This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.
        </span>
    </p>
</div>
{% endblock %} {% block content %}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <div class="govuk-panel govuk-panel--confirmation">
            <h1 class="govuk-panel__title">You have successfully verified the ID of {{app[0].name}}</h1>
        </div>
        <br />

        <h2 class="govuk-heading-m">What happens next</h2>

        <p class="govuk-body-m">The application will be reviewed by a countersignatory.</p>

         <br />
         
        <a href="dashboard"><button class="govuk-button" data-module="govuk-button">Return to dashboard</button></a>
    </div>
</div>

{% endblock %}
