<!-- ---------------------------------------------------------------------------
-- Templates
---------------------------------------------------------------------------- -->
{% extends "layout.html" %}



<!-- ---------------------------------------------------------------------------
-- Page title
---------------------------------------------------------------------------- -->
{% block pageTitle %}
    You have successfully verified the ID of {{ verifiedApp[0]["name"] }}
{% endblock %}



<!-- ---------------------------------------------------------------------------
-- Service name
---------------------------------------------------------------------------- -->
{% set serviceName %}
    Verify ID for a standard or enhanced DBS check
{% endset %}



<!-- ---------------------------------------------------------------------------
-- Block / Before content
---------------------------------------------------------------------------- -->
{% block beforeContent %}
    <!-- Phrase banner. -->
    {{ govukPhaseBanner({
        html: "This is a new service – your <a class='govuk-link' href='#' rel='noopener noreferrer' target='_blank'>feedback (opens in a new tab)</a> will help us to improve it.",
        tag: {
            text: "Alpha"
        }
    }) }}
{% endblock %}



<!-- ---------------------------------------------------------------------------
-- Block / Content
---------------------------------------------------------------------------- -->
{% block content %}
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <!-- Panel. -->
            {% set titleText = "You have successfully verified " + verifiedApp[0]["name"] %}
            {{ govukPanel({
                classes: "govuk-!-margin-bottom-6",
                titleText: titleText
            }) }}

            <!-- Heading. -->
            <h2 class="govuk-heading-m">What happens next</h2>

            <!-- Body. -->
            <p class="govuk-body-m">The application has now been submitted for review by a countersignatory.</p>

            <form method="post">
                <!-- Button. -->
                {{ govukButton({
                    text: "Return to dashboard"
                }) }}
            </form>
        </div>
    </div>
{% endblock %}