<!-- ---------------------------------------------------------------------------
-- Templates
---------------------------------------------------------------------------- -->
{% extends "layout.html" %}



<!-- ---------------------------------------------------------------------------
-- Page title
---------------------------------------------------------------------------- -->
{% block pageTitle %}
    Verifying ID for a standard or enhanced DBS check
{% endblock %}



<!-- ---------------------------------------------------------------------------
-- Service name
---------------------------------------------------------------------------- -->
{% set serviceName %}
{% endset %}



<!-- ---------------------------------------------------------------------------
-- Block / Before content
---------------------------------------------------------------------------- -->
{% block beforeContent %}
    <!-- Phrase banner. -->
    {{ govukPhaseBanner({
        html: "This is a new service – your <a class='govuk-link' href='#' rel='noopener noreferrer' target='_blank'>feedback (opens in a new tab)</a> will help us to improve it.",
        tag: {
            text: "Alpha"
        }
    }) }}

    <!-- Back link. -->
    {{ govukBackLink({
        href: "javascript:window.history.back()",
        text: "Back"
    }) }}
{% endblock %}



<!-- ---------------------------------------------------------------------------
-- Block / Content
---------------------------------------------------------------------------- -->
{% block content %}
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <!-- Heading. -->
            {% call govukFieldset({
                legend: {
                    classes: "govuk-fieldset__legend--l govuk-!-margin-bottom-6",
                    isPageHeading: true,
                    text: "Verifying ID for a standard or enhanced DBS check"
                }
            }) %}

                <!-- Heading. -->
                <h2 class="govuk-heading-m">
                    As an ID Checker you must:
                </h2>

                <!-- List bullets. -->
                <ul class="govuk-list govuk-list--bullet">
                    <li>follow the three route ID checking process as set out in <a class="govuk-link" href="https://www.gov.uk/government/publications/dbs-identity-checking-guidelines/id-checking-guidelines-for-standardenhanced-dbs-check-applications-from-1-july-2021" rel="noopener noreferrer" target="_blank">DBS Guidance</a></li>
                    <li>check and verify the information provided by the applicant</li>
                    <li>make sure the applicant provides details of all names they have been known by</li>
                    <li>make sure the applicant provides details of all addresses they have lived in the last five years</li>
                </ul>

                <form method="post">
                    <!-- Button. -->
                    {{ govukButton({
                        text: "Accept and continue"
                    }) }}
                </form>
            {% endcall %}
        </div>
    </div>
{% endblock %}