{% import "../form-elements.njk" as fe %}

{{ fe.radio_buttons(
  id='test-id-value',
  value='Display This 2',
  items=[
    {
      group: 'default-group',
      label: 'Display This 1'
    },
    {
      group: 'default-group',
      label: 'Display This 2'
    },
    {
      group: 'default-group',
      label: 'Display This 3'
    }
  ],
  cms=cms
) }}