{% import "../form-elements.njk" as fe %}

{{ fe.send_cert_radio_buttons(
  horizontal=true,
  helpText='Test',
  error=true,
  errorMessages=['An error message'],
  items=[
    {group: 'driving-licence-av', answerOption: 'yes', label: cms.generalContent.yes, dataTarget: 'driving-licence'},
    {group: 'driving-licence-av', answerOption: 'no', label: cms.generalContent.no, dataTarget: ''}
  ],
  cms=cms
) }}