{% extends "layout.html" %} {% block pageTitle %} Confirmation page example {% endblock %} {% set serviceName %} Request a standard or enhanced DBS
check {% endset%} {% block beforeContent %}
<div class="govuk-phase-banner">
    <p class="govuk-phase-banner__content">
        <strong class="govuk-tag govuk-phase-banner__content__tag"> alpha </strong>
        <span class="govuk-phase-banner__text">
            This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.
        </span>
    </p>
</div>
<a class="govuk-back-link" href="javascript:window.history.back()">Back</a>
{% endblock %} {% block content %}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <div class="govuk-panel govuk-panel--confirmation">
            <h1 class="govuk-panel__title">Application form re-sent</h1>
            <div class="govuk-panel__body">Reference number<br /><strong>HDJ2123F</strong></div>
        </div>

        <div class="govuk-inset-text">Your reference number has not changed.</div>

        <p>We've re-sent the online application form to:</p>
        <p><strong>{{ data['applicant-email'] }}</strong></p>

        <h2 class="govuk-heading-m">What happens next</h2>
        <p><a href="view-details">Check applicant answers</a></p>
    </div>
</div>

{% endblock %}
