{% extends "layout.html" %} {% block pageTitle %} Confirmation page example {% endblock %} {% set serviceName %} Request a standard or enhanced DBS
check {% endset%} {% block beforeContent %}
<div class="govuk-phase-banner">
    <p class="govuk-phase-banner__content">
        <strong class="govuk-tag govuk-phase-banner__content__tag"> alpha </strong>
        <span class="govuk-phase-banner__text">
            This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.
        </span>
    </p>
</div>
<a class="govuk-back-link" href="javascript:window.history.back()">Back</a>
{% endblock %} {% block content %}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <div class="govuk-panel govuk-panel--confirmation">
            <h1 class="govuk-panel__title">Application sent to DBS</h1>
            <div class="govuk-panel__body">Your reference number <strong>HDJ2123F</strong></div>
        </div>

        <h2 class="govuk-heading-m">Would you like a confirmation email?</h2>
        <p>This will include the application details and reference number.</p>
        <p>You can also <a href=https://standard-or-enhanced.herokuapp.com/dashboard/home> view and track your applications online.</a></p>
        <button class="govuk-button" data-module="govuk-button">Send confirmation email</button>

        <h2 class="govuk-heading-m">What happens next</h2>
        <P> We'll process the application and send the applicant their certificate in the post.</P>
<p>Standard or enhanced DBS checks usually take around 14 days. They can take longer if:</P>
  <ol class="govuk-list govuk-list--bullet">
    <li>the details given by the applicant are incorrect</li>
    <li>several police forces need to be involved in the check</li>
    </ol>
    <p>We'll contact you by email if we need any more information about this application.</p>
    <h2 class="govuk-heading-m">Give us feedback</h2>
            <a href="https://www.gov.uk/service-manual/user-centred-design/resources/patterns/feedback-pages.html"
                >What did you think of this service?</a> (takes 30 seconds)
    <p></p>

    </div>
</div>

{% endblock %}
