<!-- ---------------------------------------------------------------------------
-- Templates
---------------------------------------------------------------------------- -->
{% extends "layout.html" %}



<!-- ---------------------------------------------------------------------------
-- Page title
---------------------------------------------------------------------------- -->
{% block pageTitle %}
    What is the {% if data["what-application-type"] === "Volunteer" %} volunteer's {% else %} applicant's {% endif %} email address?
{% endblock %}



<!-- ---------------------------------------------------------------------------
-- Service name
---------------------------------------------------------------------------- -->
{% set serviceName %}
    Request a standard or enhanced DBS check
{% endset %}



<!-- ---------------------------------------------------------------------------
-- Block / Before content
---------------------------------------------------------------------------- -->
{% block beforeContent %}
    <!-- Phrase banner. -->
    {{ govukPhaseBanner({
        html: "This is a new service – your <a class='govuk-link' href='#' rel='noopener noreferrer' target='_blank'>feedback (opens in a new tab)</a> will help us to improve it.",
        tag: {
            text: "Alpha"
        }
    }) }}

    <!-- Back link. -->
    {{ govukBackLink({
        href: "javascript:window.history.back()",
        text: "Back"
    }) }}
{% endblock %}



<!-- ---------------------------------------------------------------------------
-- Block / Content
---------------------------------------------------------------------------- -->
{% block content %}
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <!-- Errors / Summary. -->
            {% if validation | length %}
                {% set errorList = [] %}
                {% for key, value in validation %}
                    {% set errorList = (errorList.push({
                        "href": "#" + key,
                        "text": value
                    }), errorList) %}
                {% endfor %}
                {{ govukErrorSummary({
                    errorList: errorList,
                    titleText: "There's a problem with the information you have provided"
                }) }}
            {% endif %}
            
            <!-- Errors / Components. -->
            {% set errorComponentApplicantEmail = "" %}
            {% set errorComponentApplicantEmailConfirm = "" %}
            {% if validation | length %}
                <!-- Applicant email. -->
                {% if validation["applicant-email"] %}
                    {% set errorComponentApplicantEmail = {
                        text: validation["applicant-email"]
                    } %}
                {% endif %}
                <!-- Applicant email confirm. -->
                {% if validation["applicant-email-confirm"] %}
                    {% set errorComponentApplicantEmailConfirm = {
                        text: validation["applicant-email-confirm"]
                    } %}
                {% endif %}
            {% endif %}
            
            <!-- Heading. -->
            {% set heading = "What is the applicant's email address?" %}
            {% if data["what-application-type"] === "Volunteer" %}
                {% set heading = "What is the volunteer's email address?" %}
            {% endif %}
            {% call govukFieldset({
                legend: {
                    classes: "govuk-fieldset__legend--l govuk-!-margin-bottom-6",
                    isPageHeading: true,
                    text: heading
                }
            }) %}

                <form method="post">
                    <!-- Text input. -->
                    {{ govukInput({
                        autocomplete: "email",
                        classes: "govuk-input govuk-!-width-two-thirds",
                        errorMessage: errorComponentApplicantEmail,
                        id: "applicant-email",
                        inputmode: "email",
                        label: {
                            text: "Email address"
                        },
                        name: "applicant-email",
                        spellcheck: false,
                        value: data["applicant-email"]
                    }) }}

                    <!-- Text input. -->
                    {{ govukInput({
                        autocomplete: "email",
                        classes: "govuk-input govuk-!-width-two-thirds",
                        errorMessage: errorComponentApplicantEmailConfirm,
                        id: "applicant-email-confirm",
                        inputmode: "email",
                        label: {
                            text: "Confirm email address"
                        },
                        name: "applicant-email-confirm",
                        spellcheck: false,
                        value: data["applicant-email-confirm"]
                    }) }}

                    <!-- Button. -->
                    {% set buttonText = "Continue" %}
                    {% if query["change"] === "true" %}
                        {% set buttonText = "Check answers" %}
                    {% endif %}
                    {{ govukButton({
                        text: buttonText
                    }) }}
                </form>
            {% endcall %}
        </div>
    </div>
{% endblock %}