<!-- ---------------------------------------------------------------------------
-- Templates
---------------------------------------------------------------------------- -->
{% extends "layout.html" %}



<!-- ---------------------------------------------------------------------------
-- Page title
---------------------------------------------------------------------------- -->
{% block pageTitle %}
    What kind of applicant is the check for?
{% endblock %}



<!-- ---------------------------------------------------------------------------
-- Service name
---------------------------------------------------------------------------- -->
{% set serviceName %}
    Request a standard or enhanced DBS check
{% endset %}



<!-- ---------------------------------------------------------------------------
-- Block / Before content
---------------------------------------------------------------------------- -->
{% block beforeContent %}
    <!-- Phrase banner. -->
    {{ govukPhaseBanner({
        html: "This is a new service – your <a class='govuk-link' href='#' rel='noopener noreferrer' target='_blank'>feedback (opens in a new tab)</a> will help us to improve it.",
        tag: {
            text: "Alpha"
        }
    }) }}

    <!-- Back link. -->
    {{ govukBackLink({
        href: "javascript:window.history.back()",
        text: "Back"
    }) }}
{% endblock %}



<!-- ---------------------------------------------------------------------------
-- Block / Content
---------------------------------------------------------------------------- -->
{% block content %}
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <!-- Errors / Summary. -->
            {% if validation | length %}
                {% set errorList = [] %}
                {% for key, value in validation %}
                    {% set errorList = (errorList.push({
                        "href": "#" + key,
                        "text": value
                    }), errorList) %}
                {% endfor %}
                {{ govukErrorSummary({
                    errorList: errorList,
                    titleText: "There's a problem with the information you have provided"
                }) }}
            {% endif %}
            
            <!-- Errors / Components. -->
            {% set errorComponentWhatApplicationType = "" %}
            {% if validation | length %}
                <!-- What application type. -->
                {% if validation["what-application-type"] %}
                    {% set errorComponentWhatApplicationType = {
                        text: validation["what-application-type"]
                    } %}
                {% endif %}
            {% endif %}

            <!-- Heading. -->
            {% call govukFieldset({
                legend: {
                    classes: "govuk-fieldset__legend--l govuk-!-margin-bottom-6",
                    isPageHeading: true,
                    text: "What kind of applicant is the check for?"
                }
            }) %}

                <form method="post">
                    <!-- Radio buttons. -->
                    {{ govukRadios({
                        errorMessage: errorComponentWhatApplicationType,
                        items: [
                            {
                                checked: data["what-application-type"] === "New employee",
                                text: "New employee",
                                value: "New employee"
                            },
                            {
                                checked: data["what-application-type"] === "Current employee",
                                text: "Current employee",
                                value: "Current employee"
                            },
                            {
                                checked: data["what-application-type"] === "Volunteer",
                                text: "Free-of-charge volunteer",
                                value: "Volunteer"
                            }
                        ],
                        name: "what-application-type",
                        value: data["what-application-type"]
                    }) }}

                    <!-- Button. -->
                    {{ govukButton({
                        text: "Continue"
                    }) }}
                </form>
            {% endcall %}
        </div>
    </div>
{% endblock %}