<!-- ---------------------------------------------------------------------------
-- Templates
---------------------------------------------------------------------------- -->
{% extends "layout.html" %}



<!-- ---------------------------------------------------------------------------
-- Page title
---------------------------------------------------------------------------- -->
{% block pageTitle %}
    Cancel application
{% endblock %}



<!-- ---------------------------------------------------------------------------
-- Service name
---------------------------------------------------------------------------- -->
{% set serviceName %}
    Request a standard or enhanced DBS check
{% endset %}



<!-- ---------------------------------------------------------------------------
-- Block / Before content
---------------------------------------------------------------------------- -->
{% block beforeContent %}
    <!-- Phrase banner. -->
    {{ govukPhaseBanner({
        html: "This is a new service – your <a class='govuk-link' href='#' rel='noopener noreferrer' target='_blank'>feedback (opens in a new tab)</a> will help us to improve it.",
        tag: {
            text: "Alpha"
        }
    }) }}

    <!-- Back link. -->
    {{ govukBackLink({
        href: "javascript:window.history.back()",
        text: "Back"
    }) }}
{% endblock %}



<!-- ---------------------------------------------------------------------------
-- Block / Content
---------------------------------------------------------------------------- -->
{% block content %}
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <!-- Heading. -->
            {% call govukFieldset({
                legend: {
                    classes: "govuk-fieldset__legend--l govuk-!-margin-bottom-6",
                    isPageHeading: true,
                    text: "Cancel application"
                }
            }) %}

                <!-- Warning text. -->
                {{ govukWarningText({
                    html: "Are you sure you want to cancel this application?<br />This action can not be undone.",
                    iconFallbackText: "Warning"
                }) }}

                <!-- Summary list. -->
                {% set applicantDetailsCurrentName = selectedApplication[0]["title"] + " " + selectedApplication[0]["name"] %}
                {% set applicantDetailsRole = selectedApplication[0]["position"] %}
                {% set applicantDetailsStatus = selectedApplication[0]["status"]["text"] %}
                {% set applicantDetailsType = selectedApplication[0]["type"] %}
                {{ govukSummaryList({
                    rows: [
                        {
                            key: {
                                text: "Applicant name"
                            },
                            value: {
                                text: applicantDetailsCurrentName
                            }
                        },
                        {
                            key: {
                                text: "Role"
                            },
                            value: {
                                text: applicantDetailsRole
                            }
                        },
                        {
                            key: {
                                text: "Status"
                            },
                            value: {
                                text: applicantDetailsStatus
                            }
                        },
                        {
                            key: {
                                text: "Type"
                            },
                            value: {
                                text: applicantDetailsType
                            }
                        }
                    ]
                }) }}

                <form method="post">
                    <!-- Button. -->
                    {{ govukButton({
                        classes: "govuk-button--warning",
                        text: "Cancel application"
                    }) }}
                </form>
            {% endcall %}
        </div>
    </div>
{% endblock %}