{% extends "layout.html" %} {% block pageTitle %} Question page {% endblock %} {% set serviceName %} Request a standard or enhanced DBS check {%
endset%} {% block beforeContent %}
<a class="govuk-back-link" href="javascript:window.history.back()">Back</a>
{% endblock %} {% block content %}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <form class="form" action="position" method="post">
            <div class="govuk-form-group">
                <h1 class="govuk-label-wrapper">
                    <label class="govuk-label govuk-label--l" for="account-number"> What is your countersignatory number? </label>
                </h1>
                <input
                    class="govuk-input govuk-input--width-10"
                    id="countersignatory-number"
                    name="countersignatory-number"
                    value="{{ data['countersignatory-number'] }}"
                    type="text"
                    spellcheck="false"
                    aria-describedby="account-number-hint"
                    pattern="[0-9]*"
                    inputmode="numeric"
                />
            </div>

            <button class="govuk-button" data-module="govuk-button">Continue</button>
        </form>
    </div>
</div>

{% endblock %}
