<!-- ---------------------------------------------------------------------------
-- Templates
---------------------------------------------------------------------------- -->
{% extends "layout.html" %}



<!-- ---------------------------------------------------------------------------
-- Page title
---------------------------------------------------------------------------- -->
{% block pageTitle %}
    Which DBS check are you requesting?
{% endblock %}



<!-- ---------------------------------------------------------------------------
-- Service name
---------------------------------------------------------------------------- -->
{% set serviceName %}
    Request a standard or enhanced DBS check
{% endset %}



<!-- ---------------------------------------------------------------------------
-- Block / Before content
---------------------------------------------------------------------------- -->
{% block beforeContent %}
    <!-- Phrase banner. -->
    {{ govukPhaseBanner({
        html: "This is a new service – your <a class='govuk-link' href='#' rel='noopener noreferrer' target='_blank'>feedback (opens in a new tab)</a> will help us to improve it.",
        tag: {
            text: "Alpha"
        }
    }) }}

    <!-- Back link. -->
    {{ govukBackLink({
        href: "javascript:window.history.back()",
        text: "Back"
    }) }}
{% endblock %}



<!-- ---------------------------------------------------------------------------
-- Block / Content
---------------------------------------------------------------------------- -->
{% block content %}
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <!-- Errors / Summary. -->
            {% if validation | length %}
                {% set errorList = [] %}
                {% for key, value in validation %}
                    {% set errorList = (errorList.push({
                        "href": "#" + key,
                        "text": value
                    }), errorList) %}
                {% endfor %}
                {{ govukErrorSummary({
                    errorList: errorList,
                    titleText: "There's a problem with the information you have provided"
                }) }}
            {% endif %}
            
            <!-- Errors / Components. -->
            {% set errorComponentWhatDbsCheck = "" %}
            {% if validation | length %}
                <!-- What DBS check. -->
                {% if validation["what-dbs-check"] %}
                    {% set errorComponentWhatDbsCheck = {
                        text: validation["what-dbs-check"]
                    } %}
                {% endif %}
            {% endif %}

            <!-- Heading. -->
            <span class="govuk-caption-l">Registered body</span>
            {% call govukFieldset({
                legend: {
                    classes: "govuk-fieldset__legend--l govuk-!-margin-bottom-6",
                    isPageHeading: true,
                    text: "Which DBS check are you requesting?"
                }
            }) %}

                <form method="post">
                    <!-- Radio buttons. -->
                    {{ govukRadios({
                        errorMessage: errorComponentWhatDbsCheck,
                        items: [
                            {
                                checked: data["what-dbs-check"] === "Standard",
                                hint: {
                                    html: 'A standard check shows convictions or cautions from the Police National Computer (PNC). It will not show certain old or minor offences. See <a href="https://www.gov.uk/government/publications/dbs-filtering-guidance/dbs-filtering-guide" rel="noopener noreferrer" target="_blank">DBS Filtering Guide</a> for more information.'
                                },
                                text: "Standard",
                                value: "Standard"
                            },
                            {
                                checked: data["what-dbs-check"] === "Enhanced",
                                hint: {
                                    text: "An enhanced check shows the same information as a standard check. It also includes any information held by local police that is relevant to the role."
                                },
                                text: "Enhanced",
                                value: "Enhanced"
                            }
                        ],
                        name: "what-dbs-check",
                        value: data["what-dbs-check"]
                    }) }}

                    <!-- Button. -->
                    {{ govukButton({
                        text: "Continue"
                    }) }}
                </form>
            {% endcall %}
        </div>
        <div class="govuk-grid-column-one-third">
            <aside class="app-related-items">
                <h2 class="govuk-heading-m">
                    Related content
                </h2>
                <a href="https://www.gov.uk/find-out-dbs-check" rel="noopener noreferrer" target="_blank">Find out which DBS check is right for your employee</a>
            </aside>
        </div>
    </div>
{% endblock %}