<!-- ---------------------------------------------------------------------------
-- Templates
---------------------------------------------------------------------------- -->
{% extends "layout.html" %}



<!-- ---------------------------------------------------------------------------
-- Page title
---------------------------------------------------------------------------- -->
{% block pageTitle %}
    Is this application for a recheck?
{% endblock %}



<!-- ---------------------------------------------------------------------------
-- Service name
---------------------------------------------------------------------------- -->
{% set serviceName %}
    Request a standard or enhanced DBS check
{% endset %}



<!-- ---------------------------------------------------------------------------
-- Block / Before content
---------------------------------------------------------------------------- -->
{% block beforeContent %}
    <!-- Phrase banner. -->
    {{ govukPhaseBanner({
        html: "This is a new service – your <a class='govuk-link' href='#' rel='noopener noreferrer' target='_blank'>feedback (opens in a new tab)</a> will help us to improve it.",
        tag: {
            text: "Alpha"
        }
    }) }}

    <!-- Back link. -->
    {{ govukBackLink({
        href: "javascript:window.history.back()",
        text: "Back"
    }) }}
{% endblock %}



<!-- ---------------------------------------------------------------------------
-- Block / Content
---------------------------------------------------------------------------- -->
{% block content %}
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <!-- Errors / Summary. -->
            {% if validation | length %}
                {% set errorList = [] %}
                {% for key, value in validation %}
                    {% set errorList = (errorList.push({
                        "href": "#" + key,
                        "text": value
                    }), errorList) %}
                {% endfor %}
                {{ govukErrorSummary({
                    errorList: errorList,
                    titleText: "There's a problem with the information you have provided"
                }) }}
            {% endif %}
            
            <!-- Errors / Components. -->
            {% set errorComponentRechecked = "" %}
            {% if validation | length %}
                <!-- Rechecked. -->
                {% if validation["rechecked"] %}
                    {% set errorComponentRechecked = {
                        text: validation["rechecked"]
                    } %}
                {% endif %}
            {% endif %}

            <!-- Heading. -->
            {% call govukFieldset({
                legend: {
                    classes: "govuk-fieldset__legend--l govuk-!-margin-bottom-6",
                    isPageHeading: true,
                    text: "Is this application for a recheck?"
                }
            }) %}

                <!-- Hint. -->
                <p class="govuk-hint">A recheck can be done if the applicant already has a DBS check.</p>

                <form method="post">
                    <!-- Radio buttons. -->
                    {{ govukRadios({
                        classes: "govuk-radios--inline",
                        errorMessage: errorComponentRechecked,
                        items: [
                            {
                                checked: data["rechecked"] === "Yes",
                                text: "Yes",
                                value: "Yes"
                            },
                            {
                                checked: data["rechecked"] === "No",
                                text: "No",
                                value: "No"
                            }
                        ],
                        name: "rechecked",
                        value: data["rechecked"]
                    }) }}

                    <!-- Button. -->
                    {% set buttonText = "Continue" %}
                    {% if query["change"] === "true" %}
                        {% set buttonText = "Check answers" %}
                    {% endif %}
                    {{ govukButton({
                        text: buttonText
                    }) }}
                </form>
            {% endcall %}
        </div>
        <div class="govuk-grid-column-one-third">
            <aside class="app-related-items">
                <h2 class="govuk-heading-m">
                    Related content
                </h2>
                <a class="govuk-link" href="https://www.gov.uk/dbs-update-service" rel="noopener noreferrer" target="_blank">DBS Update Service</a>
            </aside>
        </div>
    </div>
{% endblock %}