<!-- ---------------------------------------------------------------------------
-- Templates
---------------------------------------------------------------------------- -->
{% extends "layout.html" %}



<!-- ---------------------------------------------------------------------------
-- Page title
---------------------------------------------------------------------------- -->
{% set idCheckerName = data["id-checker-first-name"] + " " + data["id-checker-last-name"] %}
{% block pageTitle %}
    Who will {{ idCheckerName }} be doing ID checks for?
{% endblock %}



<!-- ---------------------------------------------------------------------------
-- Service name
---------------------------------------------------------------------------- -->
{% set serviceName %}
    Request a standard or enhanced DBS check
{% endset %}



<!-- ---------------------------------------------------------------------------
-- Block / Before content
---------------------------------------------------------------------------- -->
{% block beforeContent %}
    <!-- Phrase banner. -->
    {{ govukPhaseBanner({
        html: "This is a new service – your <a class='govuk-link' href='#' rel='noopener noreferrer' target='_blank'>feedback (opens in a new tab)</a> will help us to improve it.",
        tag: {
            text: "Alpha"
        }
    }) }}

    <!-- Back link. -->
    {{ govukBackLink({
        href: "javascript:window.history.back()",
        text: "Back"
    }) }}
{% endblock %}



<!-- ---------------------------------------------------------------------------
-- Block / Content
---------------------------------------------------------------------------- -->
{% block content %}
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <!-- Errors / Summary. -->
            {% if validation | length %}
                {% set errorList = [] %}
                {% for key, value in validation %}
                    {% set errorList = (errorList.push({
                        "href": "#" + key,
                        "text": value
                    }), errorList) %}
                {% endfor %}
                {{ govukErrorSummary({
                    errorList: errorList,
                    titleText: "There's a problem with the information you have provided"
                }) }}
            {% endif %}
            
            <!-- Errors / Components. -->
            {% set errorComponentIdCheckerChecks = "" %}
            {% if validation | length %}
                <!-- ID Verified. -->
                {% if validation["id-checker-checks"] %}
                    {% set errorComponentIdCheckerChecks = {
                        text: validation["id-checker-checks"]
                    } %}
                {% endif %}
            {% endif %}

             <!-- Heading. -->
             {% call govukFieldset({
                legend: {
                    classes: "govuk-fieldset__legend--l govuk-!-margin-bottom-6",
                    isPageHeading: true,
                    text: "Who will " + idCheckerName + " be doing ID checks for?"
                }
            }) %}

                <form method="post">
                    <!-- Radio buttons. -->
                    {{ govukRadios({
                        errorMessage: errorComponentIdCheckerChecks,
                        items: [
                            {
                                checked: data["id-checker-checks"] === "Own organisation",
                                text: "Own organisation",
                                value: "Own organisation"
                            },
                            {
                                checked: data["id-checker-checks"] === "Another organisation",
                                text: "Another organisation",
                                value: "Another organisation"
                            },
                            {
                                checked: data["id-checker-checks"] === "Both",
                                text: "Both",
                                value: "Both"
                            }
                        ],
                        name: "id-checker-checks",
                        value: data["id-checker-checks"]
                    }) }}

                    <!-- Button. -->
                    {{ govukButton({
                        text: "Continue"
                    }) }}
                </form>
            {% endcall %}
        </div>
    </div>
{% endblock %}