<!-- ---------------------------------------------------------------------------
-- Templates
---------------------------------------------------------------------------- -->
{% extends "layout.html" %}



<!-- ---------------------------------------------------------------------------
-- Page title
---------------------------------------------------------------------------- -->
{% block pageTitle %}
    Add a new ID Checker account
{% endblock %}



<!-- ---------------------------------------------------------------------------
-- Service name
---------------------------------------------------------------------------- -->
{% set serviceName %}
    Request a standard or enhanced DBS check
{% endset %}



<!-- ---------------------------------------------------------------------------
-- Block / Before content
---------------------------------------------------------------------------- -->
{% block beforeContent %}
    <!-- Phrase banner. -->
    {{ govukPhaseBanner({
        html: "This is a new service – your <a class='govuk-link' href='#' rel='noopener noreferrer' target='_blank'>feedback (opens in a new tab)</a> will help us to improve it.",
        tag: {
            text: "Alpha"
        }
    }) }}

    <!-- Back link. -->
    {{ govukBackLink({
        href: "javascript:window.history.back()",
        text: "Back"
    }) }}
{% endblock %}



<!-- ---------------------------------------------------------------------------
-- Block / Content
---------------------------------------------------------------------------- -->
{% block content %}
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <!-- Errors / Summary. -->
            {% if validation | length %}
            {% set errorList = [] %}
            {% for key, value in validation %}
                {% set errorList = (errorList.push({
                    "href": "#" + key,
                    "text": value
                }), errorList) %}
            {% endfor %}
            {{ govukErrorSummary({
                errorList: errorList,
                titleText: "There's a problem with the information you have provided"
            }) }}
            {% endif %}
            
            <!-- Errors / Components. -->
            {% set errorComponentIdCheckerDeclare = "" %}
            {% if validation | length %}
                <!-- ID Checker declare. -->
                {% if validation["id-checker-declare"] %}
                    {% set errorComponentIdCheckerDeclare = {
                        text: validation["id-checker-declare"]
                    } %}
                {% endif %}
            {% endif %}

            <!-- Heading. -->
            {% call govukFieldset({
                legend: {
                    classes: "govuk-fieldset__legend--l govuk-!-margin-bottom-6",
                    isPageHeading: true,
                    text: "Add a new ID Checker account"
                }
            }) %}

                <!-- Hint. -->
                <p class="govuk-hint">If you are a Countersignatory you do not need an ID Checker account. You can complete ID checks from the <a class='govuk-link' href='/dashboard/home' rel='noopener noreferrer'>Applications dashboard</a>.</p>

                <!-- Heading. -->
                <h2 class="govuk-heading-m">What you'll need</h2>

                <!-- Body. -->
                <p class="govuk-body">To set up an ID Checker account you'll need their:</p>

                <!-- List bullets. -->
                <ul class="govuk-list govuk-list--bullet">
                    <li>first and last name</li>
                    <li>email address</li>
                </ul>

                <!-- Body. -->
                <p class="govuk-body">You may also need:</p>

                <!-- List bullets. -->
                <ul class="govuk-list govuk-list--bullet">
                    <li>the name of any organisations that the ID checker will be doing checks for</li>
                </ul>

                <!-- Heading. -->
                <h2 class="govuk-heading-m">Declaration</h2>

                <!-- Body. -->
                <p class="govuk-body">By adding a new ID Checker you confirm that:</p>

                <form method="post">
                    <!-- Checkboxes. -->
                    {{ govukCheckboxes({
                        errorMessage: errorComponentIdCheckerDeclare,
                        items: [
                            {
                                text: "the person you are adding is suitable to conduct such checks"
                            },
                            {
                                text: "the person you are adding has had the appropriate training and guidance needed"
                            },
                            {
                                text: "the Registered Body remains responsible for conducting accurate identity checks"
                            }
                        ],
                        name: "id-checker-declare"
                    }) }}

                    <!-- Button. -->
                    {{ govukButton({
                        text: "Accept and continue"
                    }) }}
                </form>
            {% endcall %}
        </div>
    </div>
{% endblock %}