<!-- ---------------------------------------------------------------------------
-- Templates
---------------------------------------------------------------------------- -->
{% extends "layout.html" %}



<!-- ---------------------------------------------------------------------------
-- Page title
---------------------------------------------------------------------------- -->
{% block pageTitle %}
    What is the ID Checker's email address?
{% endblock %}



<!-- ---------------------------------------------------------------------------
-- Service name
---------------------------------------------------------------------------- -->
{% set serviceName %}
    Request a standard or enhanced DBS check
{% endset %}



<!-- ---------------------------------------------------------------------------
-- Block / Before content
---------------------------------------------------------------------------- -->
{% block beforeContent %}
    <!-- Phrase banner. -->
    {{ govukPhaseBanner({
        html: "This is a new service – your <a class='govuk-link' href='#' rel='noopener noreferrer' target='_blank'>feedback (opens in a new tab)</a> will help us to improve it.",
        tag: {
            text: "Alpha"
        }
    }) }}

    <!-- Back link. -->
    {{ govukBackLink({
        href: "javascript:window.history.back()",
        text: "Back"
    }) }}
{% endblock %}



<!-- ---------------------------------------------------------------------------
-- Block / Content
---------------------------------------------------------------------------- -->
{% block content %}
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <!-- Errors / Summary. -->
            {% if validation | length %}
                {% set errorList = [] %}
                {% for key, value in validation %}
                    {% set errorList = (errorList.push({
                        "href": "#" + key,
                        "text": value
                    }), errorList) %}
                {% endfor %}
                {{ govukErrorSummary({
                    errorList: errorList,
                    titleText: "There's a problem with the information you have provided"
                }) }}
            {% endif %}
            
            <!-- Errors / Components. -->
            {% set errorComponentIdCheckerEmail = "" %}
            {% set errorComponentIdCheckerEmailConfirm = "" %}
            {% if validation | length %}
                <!-- ID Checker email. -->
                {% if validation["id-checker-email-address"] %}
                    {% set errorComponentIdCheckerEmail = {
                        text: validation["id-checker-email-address"]
                    } %}
                {% endif %}
                <!-- ID Checker email confirm. -->
                {% if validation["id-checker-email-address-confirm"] %}
                    {% set errorComponentIdCheckerEmailConfirm = {
                        text: validation["id-checker-email-address-confirm"]
                    } %}
                {% endif %}
            {% endif %}
            
            <!-- Heading. -->
            {% call govukFieldset({
                legend: {
                    classes: "govuk-fieldset__legend--l govuk-!-margin-bottom-6",
                    isPageHeading: true,
                    text: "What is the ID Checker's email address?"
                }
            }) %}

                <!-- Hint. -->
                <p class="govuk-hint">This must be an email address that only the ID Checker can access.</p>

                <!-- Body. -->
                <p class="govuk-body">We will use this email address to send the ID Checker an email to activate their account. We will also send an email to notify them when there is a new identity check to complete.</p>

                <form method="post">
                    <!-- Text input. -->
                    {{ govukInput({
                        autocomplete: "email",
                        classes: "govuk-input govuk-!-width-two-thirds",
                        errorMessage: errorComponentIdCheckerEmail,
                        id: "id-checker-email-address",
                        inputmode: "email",
                        label: {
                            text: "Email address"
                        },
                        name: "id-checker-email-address",
                        spellcheck: false,
                        value: data["id-checker-email-address"]
                    }) }}

                    <!-- Text input. -->
                    {{ govukInput({
                        autocomplete: "email",
                        classes: "govuk-input govuk-!-width-two-thirds",
                        errorMessage: errorComponentIdCheckerEmailConfirm,
                        id: "id-checker-email-address-confirm",
                        inputmode: "email",
                        label: {
                            text: "Confirm email address"
                        },
                        name: "id-checker-email-address-confirm",
                        spellcheck: false,
                        value: data["id-checker-email-address-confirm"]
                    }) }}

                    <!-- Button. -->
                    {% set buttonText = "Continue" %}
                    {% if query["change"] === "true" %}
                        {% set buttonText = "Check answers" %}
                    {% endif %}
                    {{ govukButton({
                        text: buttonText
                    }) }}
                </form>
            {% endcall %}
        </div>
    </div>
{% endblock %}