<!-- ---------------------------------------------------------------------------
-- Templates
---------------------------------------------------------------------------- -->
{% extends "layout.html" %}



<!-- ---------------------------------------------------------------------------
-- Page title
---------------------------------------------------------------------------- -->
{% block pageTitle %}
    Which organisation is the check for?
{% endblock %}



<!-- ---------------------------------------------------------------------------
-- Service name
---------------------------------------------------------------------------- -->
{% set serviceName %}
    Request a standard or enhanced DBS check
{% endset %}



<!-- ---------------------------------------------------------------------------
-- Redirect Path
---------------------------------------------------------------------------- -->
<!-- Preserves the "change=true" query string property; if present. --> 
{% set queryString = "" %}
{% if query["change"] === "true" %}
    {% set queryString = "?change=true" %}
{% endif %}
{% set redirectPath = "/registered-body/client-organisation-add" + queryString %}



<!-- ---------------------------------------------------------------------------
-- Block / Before content
---------------------------------------------------------------------------- -->
{% block beforeContent %}
    <!-- Phrase banner. -->
    {{ govukPhaseBanner({
        html: "This is a new service – your <a class='govuk-link' href='#' rel='noopener noreferrer' target='_blank'>feedback (opens in a new tab)</a> will help us to improve it.",
        tag: {
            text: "Alpha"
        }
    }) }}

    <!-- Back link. -->
    {{ govukBackLink({
        href: "javascript:window.history.back()",
        text: "Back"
    }) }}
{% endblock %}



<!-- ---------------------------------------------------------------------------
-- Block / Content
---------------------------------------------------------------------------- -->
{% block content %}
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <!-- Errors / Summary. -->
            {% if validation | length %}
                {% set errorList = [] %}
                {% for key, value in validation %}
                    {% set errorList = (errorList.push({
                        "href": "#" + key,
                        "text": value
                    }), errorList) %}
                {% endfor %}
                {{ govukErrorSummary({
                    errorList: errorList,
                    titleText: "There's a problem with the information you have provided"
                }) }}
            {% endif %}
            
            <!-- Errors / Components. -->
            {% set errorComponentOrganisationCheck = "" %}
            {% if validation | length %}
                <!-- Organisation check. -->
                {% if validation["organisation-check"] %}
                    {% set errorComponentOrganisationCheck = {
                        text: validation["organisation-check"]
                    } %}
                {% endif %}
            {% endif %}

            <!-- Conditional / Select client organisation. -->
            {% set conditionalSelectClientOrganisation %}
                <!-- Select. -->
                {{ govukSelect({
                    classes: "govuk-!-width-full",
                    id: "client-organisation",
                    items: data["client-organisations"],
                    label: {
                        text: "Organisation name"
                    },
                    name: "client-organisation"
                }) }}

                <!-- Body. -->
                <p class="govuk-body"><br>
                    <a href={{ redirectPath }} rel="noopener noreferrer">
                        If not shown, add a new organisation
                    </a>
                </p>
            {% endset %}

            <!-- Heading. -->
            {% call govukFieldset({
                legend: {
                    classes: "govuk-fieldset__legend--l govuk-!-margin-bottom-6",
                    isPageHeading: true,
                    text: "Which organisation is the check for?"
                }
            }) %}

                <form method="post">
                    <!-- Radio buttons. -->
                    {{ govukRadios({
                        errorMessage: errorComponentOrganisationCheck,
                        items: [
                            {
                                checked: data["organisation-check"] === "my-organisation",
                                text: "My organisation",
                                value: "my-organisation"
                            },
                            {
                                checked: data["organisation-check"] === "client-organisation",
                                conditional: {
                                    html: conditionalSelectClientOrganisation
                                },
                                text: "Other organisation",
                                value: "client-organisation"
                            }
                        ],
                        name: "organisation-check",
                        value: data["organisation-check"]
                    }) }}

                    <!-- Button. -->
                    {% set buttonText = "Continue" %}
                    {% if query["change"] === "true" %}
                        {% set buttonText = "Check answers" %}
                    {% endif %}
                    {{ govukButton({
                        text: buttonText
                    }) }}
                </form>
            {% endcall %}
        </div>
    </div>
{% endblock %}