{% extends "layout.html" %} {% block pageTitle %} Verify applicant ID {% endblock %} {% set serviceName %} Request a standard or enhanced DBS check {%
endset%} {% block beforeContent %}
<div class="govuk-phase-banner">
    <p class="govuk-phase-banner__content">
        <strong class="govuk-tag govuk-phase-banner__content__tag"> alpha </strong>
        <span class="govuk-phase-banner__text">
            This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.
        </span>
    </p>
</div>
<a class="govuk-back-link" href="javascript:window.history.back()">Back</a>
{% endblock %} {% block content %}
<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds-from-desktop">
        <div style="display: flex; flex-direction: row; justify-content: space-between">
            <h1 class="govuk-heading-l">Verify applicant ID</h1>
        </div>
        <dl class="govuk-summary-list govuk-!-margin-bottom-9">
            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">Name</dt>
                <dd class="govuk-summary-list__value">{{ selectedApplication[0].name}}</dd>
                <dd class="govuk-summary-list__actions"></dd>
            </div>
            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">Previous names</dt>
                <dd class="govuk-summary-list__value">None</dd>
                <dd class="govuk-summary-list__actions"></dd>
            </div>
            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">Date of birth</dt>
                <dd class="govuk-summary-list__value">05 November 1976</dd>

                <dd class="govuk-summary-list__actions"></dd>
            </div>
            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">Sex</dt>
                <dd class="govuk-summary-list__value">Female</dd>
                <dd class="govuk-summary-list__actions"></dd>
            </div>
            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">National Insurance number</dt>
                <dd class="govuk-summary-list__value">JL747850D</dd>
                <dd class="govuk-summary-list__actions"></dd>
            </div>
            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">Driving licence</dt>
                <dd class="govuk-summary-list__value">SMITH304186JD9TE</dd>
                <dd class="govuk-summary-list__actions"></dd>
            </div>
            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">Passport number</dt>
                <dd class="govuk-summary-list__value">123456789</dd>
                <dd class="govuk-summary-list__actions"></dd>
            </div>
            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">Nationality</dt>
                <dd class="govuk-summary-list__value">British</dd>
                <dd class="govuk-summary-list__actions"></dd>
            </div>
            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">Country of issue</dt>
                <dd class="govuk-summary-list__value">United Kingdom</dd>
                <dd class="govuk-summary-list__actions"></dd>
            </div>
            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">Place of birth</dt>
                <dd class="govuk-summary-list__value">Liverpool, United Kingdom</dd>
                <dd class="govuk-summary-list__actions"></dd>
            </div>
            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">Current address</dt>
                <dd class="govuk-summary-list__value">
                    37 Stroma Road<br />
                    Allerton<br />
                    Liverpool<br />
                    L18 9SN<br />
                    United Kingdon
                </dd>
                <dd class="govuk-summary-list__actions"></dd>
            </div>
            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">Previous addresses in last 5 years</dt>
                <dd class="govuk-summary-list__value">None</dd>
                <dd class="govuk-summary-list__actions"></dd>
            </div>
            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">Email address</dt>
                <dd class="govuk-summary-list__value">jessica.smith&commat;email.com</dd>
                <dd class="govuk-summary-list__actions"></dd>
            </div>
            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">Telephone number</dt>
                <dd class="govuk-summary-list__value">07912 260456</dd>
                <dd class="govuk-summary-list__actions"></dd>
            </div>
            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">Previous convictions</dt>
                <dd class="govuk-summary-list__value">None</dd>
                <dd class="govuk-summary-list__actions"></dd>
            </div>
        </dl>

        <p id="download-pdf-hint" class="govuk-body">
            If you need to send a copy of the applicant's answers to an ID checker, you can download them as a PDF.
        </p>
        <button type="submit" class="govuk-button" data-module="govuk-button">Download applicant answers PDF</button>


        <div style="display: flex; flex-direction: row; justify-content: space-between">
            <form action="id-checked" method="post" novalidate>
                <input type="hidden" name="answers-checked" value="true" />
                <button type="submit" class="govuk-button" data-module="govuk-button">Continue to verify application</button>
            </form>
            <form action='confirm-cancel?app={{query}}' method="post" novalidate>
                <button type="submit" class="govuk-button govuk-button--warning" data-module="govuk-button">Cancel Application</button>
            </form>
            <a></a>
        </div>
    </div>
</div>
{% endblock %}
