{% extends "layout.html" %} {% block pageTitle %} Question page {% endblock %} {% set serviceName %} Request a standard or enhanced DBS check {%
endset%} {% block beforeContent %}
<div class="govuk-phase-banner">
    <p class="govuk-phase-banner__content">
        <strong class="govuk-tag govuk-phase-banner__content__tag"> alpha </strong>
        <span class="govuk-phase-banner__text">
            This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.
        </span>
    </p>
</div>
<a class="govuk-back-link" href="javascript:window.history.back()">Back</a>
{% endblock %} {% block content %}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <form class="form" method="post">
            <div class="govuk-form-group">
                <fieldset class="govuk-fieldset" aria-describedby="changed-name-hint">
                    <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">

                        <h1 class="govuk-fieldset__heading">Free-of-charge volunteer declaration</h1>
                    </legend>

                    <div class="govuk-checkboxes" data-module="govuk-checkboxes">
                        <div class="govuk-checkboxes__item">
                            <input class="govuk-checkboxes__input" id="foc_declare" name="foc_declare" type="checkbox" />
                            <label class="govuk-label govuk-checkboxes__label govuk-warning-text__text" for="waste">
                                I declare the post meets the DBS definition of a free-of-charge volunteer application. If this is not correct, DBS may
                                recover the application fee and your DBS registration could be cancelled.
                            </label>
                        </div>
                    </div>
                </fieldset>
            </div>

            <details class="govuk-details" data-module="govuk-details">
                <summary class="govuk-details__summary">
                    <span class="govuk-details__summary-text"> What is a free-of-charge volunteer? </span>
                </summary>
                <div class="govuk-details__text">
                    <p>To qualify for a free-of-charge volunteer check, the applicant must not:</p>
                    <ul class="govuk-list govuk-list--bullet">
                        <li>benefit financially from the position for which the application is being submitted</li>
                        <li>receive any payment (except for travel and other approved out-of-pocket expenses)</li>
                        <li>be on a work placement</li>
                        <li>be in a trainee position or undertaking a course of study that will lead to a full-time role or qualification</li>
                        <li>be a paid foster carer or a member of a foster care household</li>
                    </ul>
                </div>
            </details>
            {% if query['change'] === 'true' %}
                <button class="govuk-button" data-module="govuk-button">Accept and Check Answers</button>
            {% else %}
                <button class="govuk-button" data-module="govuk-button">Accept and continue</button>
            {% endif %}
        </form>
    </div>
    <!--
    <div class="govuk-grid-column-one-third">
        <aside class="app-related-items" role="complementary">
            <h2 class="govuk-heading-m" id="subsection-title">Related content</h2>
            <nav role="navigation" aria-labelledby="subsection-title">
                <ul class="govuk-list govuk-!-font-size-16">
                    <li>
                        <a href="#"> What is a free-of-charge volunteer? </a>
                    </li>
                </ul>
            </nav>
        </aside>
    </div>
    -->
</div>

{% endblock %}
