<!-- ---------------------------------------------------------------------------
-- Templates
---------------------------------------------------------------------------- -->
{% extends "layout.html" %}



<!-- ---------------------------------------------------------------------------
-- Page title
---------------------------------------------------------------------------- -->
{% block pageTitle %}
    Free-of-charge volunteer declaration
{% endblock %}



<!-- ---------------------------------------------------------------------------
-- Service name
---------------------------------------------------------------------------- -->
{% set serviceName %}
    Request a standard or enhanced DBS check
{% endset %}



<!-- ---------------------------------------------------------------------------
-- Block / Before content
---------------------------------------------------------------------------- -->
{% block beforeContent %}
    <!-- Phrase banner. -->
    {{ govukPhaseBanner({
        html: "This is a new service – your <a class='govuk-link' href='#' rel='noopener noreferrer' target='_blank'>feedback (opens in a new tab)</a> will help us to improve it.",
        tag: {
            text: "Alpha"
        }
    }) }}

    <!-- Back link. -->
    {{ govukBackLink({
        href: "javascript:window.history.back()",
        text: "Back"
    }) }}
{% endblock %}



<!-- ---------------------------------------------------------------------------
-- Block / Content
---------------------------------------------------------------------------- -->
{% block content %}
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <!-- Errors / Summary. -->
            {% if validation | length %}
                {% set errorList = [] %}
                {% for key, value in validation %}
                    {% set errorList = (errorList.push({
                        "href": "#" + key,
                        "text": value
                    }), errorList) %}
                {% endfor %}
                {{ govukErrorSummary({
                    errorList: errorList,
                    titleText: "There's a problem with the information you have provided"
                }) }}
            {% endif %}
            
            <!-- Errors / Components. -->
            {% set errorComponentFocDeclare = "" %}
            {% if validation | length %}
                <!-- Foc declare. -->
                {% if validation["foc_declare"] %}
                    {% set errorComponentFocDeclare = {
                        text: validation["foc_declare"]
                    } %}
                {% endif %}
            {% endif %}
            
            <!-- Heading. -->
            {% call govukFieldset({
                legend: {
                    classes: "govuk-fieldset__legend--l govuk-!-margin-bottom-6",
                    isPageHeading: true,
                    text: "Free-of-charge volunteer declaration"
                }
            }) %}

                <form method="post">
                    <!-- Checkboxes. -->
                    {{ govukCheckboxes({
                        errorMessage: errorComponentFocDeclare,
                        items: [
                            {
                                label: {
                                    classes: "govuk-warning-text__text"
                                },
                                text: "I declare the post meets the DBS definition of a free-of-charge volunteer application. If this is not correct, DBS may recover the application fee and your DBS registration could be cancelled."
                            }
                        ],
                        name: "foc_declare",
                        value: data["foc_declare"]
                    }) }}

                    <!-- Details. -->
                    {{ govukDetails({
                        html: '<p>To qualify for a free-of-charge volunteer check, the applicant must not:</p><ul class="govuk-list govuk-list--bullet"><li>benefit financially from the position for which the application is being submitted</li><li>receive any payment (except for travel and other approved out-of-pocket expenses)</li><li>be on a work placement</li><li>be in a trainee position or undertaking a course of study that will lead to a full-time role or qualification</li><li>be a paid foster carer or a member of a foster care household</li></ul>',
                        summaryText: "What is a free-of-charge volunteer?"
                    }) }}

                    <!-- Button. -->
                    {% set buttonText = "Accept and continue" %}
                    {% if query["change"] === "true" %}
                        {% set buttonText = "Accept and check answers" %}
                    {% endif %}
                    {{ govukButton({
                        text: buttonText
                    }) }}
                </form>
            {% endcall %}
        </div>
    </div>
{% endblock %}