{% import "../macros/form-elements.njk" as fe %}
{% import "../macros/question-info.njk" as ql %}
{% import "../macros/error-summary/govukErrorSummary.njk" as  es %}
{% extends "layout.html" %}

{% block beforeContent %}
<div class="govuk-phase-banner">
    <p class="govuk-phase-banner__content">
        <strong class="govuk-tag govuk-phase-banner__content__tag"> alpha </strong>
        <span class="govuk-phase-banner__text">
            This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.
        </span>
    </p>
</div>

<a class="govuk-back-link" href="javascript:window.history.back()">Back</a>
{% endblock %}

 {% block content %}

  {% if validation|length %}

    {% set errorList = [] %}

    {% for key, value in validation %}
      {% set errorList = (errorList.push({"text": value, "href": "#" + key}), errorList) %}
    {% endfor %}

    {{ es.govukErrorSummary({
      "titleText": 'There is a problem',
      "errorList": errorList 
      }) 
    }}
  {% endif %}

  <div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

  <h1 class="govuk-heading-l page-heading govuk-!-margin-bottom-4"> Which workforce will the applicant be working in? </h1>

  <form action="" method="post" class="form">
    <div class="govuk-form-group {% if validation['radio-group-workforce-select'] %} govuk-form-group--error {% endif %}">
      {{ fe.radio_buttons(
        questionText=false,
        helpText='Selecting the wrong workforce type will delay the application.',
        h1Text=false,
        value=data['radio-group-workforce-select'],
        error=true,
        errorMessages=[validation['radio-group-workforce-select']],
        horizontal=false,
        items=[
          {group: 'workforce-select', answerOption: 'Adult', value: 'Adult',  label: "Adult", dataTarget: 'save-and-continue' },
          {group: 'workforce-select', answerOption: 'Child', value: 'Child', label: 'Child', dataTarget: 'save-and-continue' },
          {group: 'workforce-select', answerOption: 'Adult and Child', value: 'Adult and Child', label: 'Adult and Child', dataTarget: 'save-and-continue' },
          {group: 'workforce-select', answerOption: 'Other', value: 'Other', label: 'Other', dataTarget: 'save-and-continue' }
        ],
        disabledOnSelection=false
      ) }}

    </div>


    {{ fe.save_button(cms=cms, 'govuk-!-margin-top-4') }}
    
  </form>
  </div>


    <div class="govuk-grid-column-one-third">

      <aside class="app-related-items" role="complementary">
        <h2 class="govuk-heading-m" id="subsection-title">
          Related content
        </h2>
        <nav role="navigation" aria-labelledby="subsection-title">
          <ul class="govuk-list govuk-!-font-size-16">
            <li>
              <a href="https://www.gov.uk/government/publications/dbs-workforce-guidance">            	
                  How to identify the type of workforce that an applicant will be working in
              </a>
            </li>
          </ul>
        </nav>
      </aside>

    </div>

</div>


{% endblock %}