{% extends "layout.html" %}

{% block pageTitle %}
  Question page
{% endblock %}

{% set serviceName %}
  Request a standard or enhanced DBS check
{% endset%}

{% block beforeContent %}
  <a class="govuk-back-link" href="javascript:window.history.back()">Back</a>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <form class="form" action="../request-standard-check/employee-role" method="post">

        <div class="govuk-form-group">

    <span class="govuk-caption-l">Your DBS account</span>
    <fieldset class="govuk-fieldset">
      <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
        <h1 class="govuk-fieldset__heading">
          What DBS check do you want to request?
        </h1>
      </legend>
      <div class="govuk-radios" data-module="govuk-radios">
        <div class="govuk-radios__item">
          <input class="govuk-radios__input" id="what-dbs-check" name="what-dbs-check" type="radio" value="standard">
          <label class="govuk-label govuk-radios__label" for="where-do-you-live">
            Standard DBS check
          </label>
          <div id="sign-in-item-hint" class="govuk-hint govuk-radios__hint">
          A standard level certificate contains details of all spent and unspent convictions, cautions, reprimands and final warnings from the Police National Computer (PNC) which have not been filtered in line with legislation.
        </div>
        </div>
        <div class="govuk-radios__item">
          <input class="govuk-radios__input" id="what-dbs-check-2" name="what-dbs-check" type="radio" value="enhanced">
          <label class="govuk-label govuk-radios__label" for="where-do-you-live-2">
            Enhanced DBS Check
          </label>
          <div id="sign-in-item-hint" class="govuk-hint govuk-radios__hint">
          An enhanced level certificate contains the same PNC information as the standard level certificate but also includes a check of information held by police forces.
         </div>
        </div>
        <div class="govuk-radios__item">
          <input class="govuk-radios__input" id="what-dbs-check-3" name="what-dbs-check" type="radio" value="enhanced-with-barred-lists">
          <label class="govuk-label govuk-radios__label" for="where-do-you-live-3">
            Enhanced with barred lists DBS check
          </label>
          <div id="sign-in-item-hint" class="govuk-hint govuk-radios__hint">
          An enhanced level certificate with barred list check(s) contains the same PNC information and check of information held by police forces as an enhanced level check but in addition will check against the children’s and/or adult’s barred lists.
          </div>
        </div>


    </fieldset>
  </div>

        <button class="govuk-button" data-module="govuk-button">Continue</button>

      </form>
    </div>
  </div>

{% endblock %}
