<!-- ---------------------------------------------------------------------------
-- Templates
---------------------------------------------------------------------------- -->
{% extends "layout.html" %}



<!-- ---------------------------------------------------------------------------
-- Page title
---------------------------------------------------------------------------- -->
{% block pageTitle %}
    Are you entitled to know if the applicant is barred from working with children?
{% endblock %}



<!-- ---------------------------------------------------------------------------
-- Service name
---------------------------------------------------------------------------- -->
{% set serviceName %}
    Request a standard or enhanced DBS check
{% endset %}



<!-- ---------------------------------------------------------------------------
-- Block / Before content
---------------------------------------------------------------------------- -->
{% block beforeContent %}
    <!-- Phrase banner. -->
    {{ govukPhaseBanner({
        html: "This is a new service – your <a class='govuk-link' href='#' rel='noopener noreferrer' target='_blank'>feedback (opens in a new tab)</a> will help us to improve it.",
        tag: {
            text: "Alpha"
        }
    }) }}

    <!-- Back link. -->
    {{ govukBackLink({
        href: "javascript:window.history.back()",
        text: "Back"
    }) }}
{% endblock %}



<!-- ---------------------------------------------------------------------------
-- Block / Content
---------------------------------------------------------------------------- -->
{% block content %}
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <!-- Errors / Summary. -->
            {% if validation | length %}
                {% set errorList = [] %}
                {% for key, value in validation %}
                    {% set errorList = (errorList.push({
                        "href": "#" + key,
                        "text": value
                    }), errorList) %}
                {% endfor %}
                {{ govukErrorSummary({
                    errorList: errorList,
                    titleText: "There's a problem with the information you have provided"
                }) }}
            {% endif %}
            
            <!-- Errors / Components. -->
            {% set errorComponentBarredChildren = "" %}
            {% if validation | length %}
                <!-- Barred children. -->
                {% if validation["barred-children"] %}
                    {% set errorComponentBarredChildren = {
                        text: validation["barred-children"]
                    } %}
                {% endif %}
            {% endif %}

            <!-- Heading. -->
            {% call govukFieldset({
                legend: {
                    classes: "govuk-fieldset__legend--l govuk-!-margin-bottom-6",
                    isPageHeading: true,
                    text: "Are you entitled to know if the applicant is barred from working with children?"
                }
            }) %}

                <form method="post">
                    <!-- Radio buttons. -->
                    {{ govukRadios({
                        classes: "govuk-radios--inline",
                        errorMessage: errorComponentBarredChildren,
                        items: [
                            {
                                checked: data["barred-children"] === "Yes",
                                text: "Yes",
                                value: "Yes"
                            },
                            {
                                checked: data["barred-children"] === "No",
                                text: "No",
                                value: "No"
                            }
                        ],
                        name: "barred-children",
                        value: data["barred-children"]
                    }) }}

                    <!-- Button. -->
                    {{ govukButton({
                        text: "Continue"
                    }) }}
                </form>
            {% endcall %}
        </div>
        <div class="govuk-grid-column-one-third">
            <aside class="app-related-items">
                <h2 class="govuk-heading-m">
                    Related content
                </h2>
                <a href="https://www.gov.uk/government/collections/dbs-eligibility-guidance" rel="noopener noreferrer" target="_blank">DBS Eligibility Guidance</a>
            </aside>
        </div>
    </div>
{% endblock %}