{% extends "layout.html" %} {% block pageTitle %} GOV.UK Prototype Kit {% endblock %} {% block beforeContent %}
<div class="govuk-phase-banner">
    <p class="govuk-phase-banner__content">
        <strong class="govuk-tag govuk-phase-banner__content__tag"> alpha </strong>
        <span class="govuk-phase-banner__text">
            This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.
        </span>
    </p>
</div>
{% endblock %} {% block content %}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
        <h1 class="govuk-heading-l">Standard or enhanced DBS check prototype</h1>

        <a
            href="registered-body/start"
            role="button"
            draggable="false"
            class="govuk-button govuk-button--start govuk-!-margin-top-2 govuk-!-margin-bottom-4"
            data-module="govuk-button"
        >
            Request a standard or enhanced DBS check
            <svg
                class="govuk-button__start-icon"
                xmlns="http://www.w3.org/2000/svg"
                width="17.5"
                height="19"
                viewBox="0 0 33 40"
                aria-hidden="true"
                focusable="false"
            >
                <path fill="currentColor" d="M0 0h13l20 20-20 20H0l20-20z"></path>
            </svg>
        </a>
        <br />
        <br />
        
        <!-- Countersignatory creates user account for the ID Checker. -->
        <h2 class="govuk-heading-m govuk-!-margin-top-3">Countersignatory creates user account for the ID Checker</h2>
        <p class="govuk-body">
            <a class="govuk-link" href="dashboard/rb-login" rel="noopener noreferrer">Sign in</a>
        </p>
        <p class="govuk-body">
            <a class="govuk-link" href="registered-body/id-checkers-manage" class="govuk-link">Manage ID Checkers</a>
        </p>

        <!-- ID Checker activates their account. -->
        <h2 class="govuk-heading-m govuk-!-margin-top-6">ID Checker activates their account</h2>
        <p class="govuk-body">
            <a class="govuk-link" href="seas-idc/start" rel="noopener noreferrer">Activate ID Checker account</a>
        </p>

        <!-- Countersignatory initiates the application. -->
        <h2 class="govuk-heading-m govuk-!-margin-top-6">Countersignatory initiates the application</h2>
        <p class="govuk-body">
            <a class="govuk-link" href="registered-body/start" rel="noopener noreferrer">Initiate application</a>
        </p>

        <!-- ID Checker logs into SEAS, assigns applications, verifies ID, declares verification. -->
        <h2 class="govuk-heading-m govuk-!-margin-top-6">ID Checker logs into SEAS, assigns applications, verifies ID, declares verification</h2>
        <p class="govuk-body">
            <a class="govuk-link" href="seas-idc/sign-in" rel="noopener noreferrer">Log into SEAS</a>
        </p>
        <p class="govuk-body">
            <a class="govuk-link" href="seas-idc/auto-login" rel="noopener noreferrer">Assign applications</a>
        </p>

        <!-- Citizen application. -->
        <h2 class="govuk-heading-m govuk-!-margin-top-6">Applicant application</h2>
        <p class="govuk-body">
            <a class="govuk-link" href="citizen-application/start-application" rel="noopener noreferrer">Start application</a>
        </p>

        <!-- Demonstration accounts. -->
        <h2 class="govuk-heading-m govuk-!-margin-top-6">Demonstration accounts</h2>
        <p class="govuk-body">
            <a class="govuk-link" href="demonstration-accounts" rel="noopener noreferrer">View accounts</a>
        </p>
    </div>
</div>
{% endblock %}
